<template>
  <div id="email_signup">
    <div class="modal-covering"></div>
    <div class="actual-email">
      <p>Join our mailing list and receive
        <br>10% off your first purchase.
      </p>
      <form id="mc-form" novalidate="true">
        <input
          class="focus"
          style="width:100%;"
          autocomplete="off"
          id="mc-email"
          type="email"
          placeholder="Email"
          name="EMAIL"
        >
        <input style="width:100%;" autocomplete="off" id="mc-name" type="text" placeholder="Name">
        <label for="mc-email"></label>
        <div class="text-right">
          <button class="btn--secondary" type="submit">Submit</button>
        </div>
      </form>
      <div class="close-it">
        <hr>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EmailSignup"
};
</script>