@font-face {
    font-family: 'icons';
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/icons.eot?10289080432470149777");
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/icons.eot?10289080432470149777#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/icons.woff?10289080432470149777") format("woff"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/icons.ttf?10289080432470149777") format("truetype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/icons.svg?10289080432470149777#icons") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_regular.eot?10289080432470149777");
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_regular.eot?10289080432470149777#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_regular.woff?10289080432470149777") format("woff"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_regular.ttf?10289080432470149777") format("truetype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_regular.svg?10289080432470149777#pmreg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_bold.eot?10289080432470149777");
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_bold.eot?10289080432470149777#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_bold.woff?10289080432470149777") format("woff"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_bold.ttf?10289080432470149777") format("truetype"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/proxima_nova_bold.svg?10289080432470149777#pmreg") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'FS Siena Light';
    src: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/fssiena-light-webfont.woff2?10289080432470149777") format("woff2"), url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/fssiena-light-webfont.woff?10289080432470149777") format("woff");
    font-weight: normal;
    font-style: normal
}

.sans-serif {
    font-family: "Proxima Nova", sans-serif !important
}

.serif {
    font-family: "FS Siena Light", serif !important
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.arial {
    font-family: 'Arial', sans-serif
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

*,
input,
:before,
:after {
    box-sizing: border-box
}

html,
body {
    padding: 0;
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

figure {
    margin: 0
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    *zoom: 1
}

.grid:after,
.grid--rev:after,
.grid--full:after,
.grid-uniform:after {
    content: '';
    display: table;
    clear: both
}

.grid__item.clear {
    clear: both
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -16px
}

.grid.spaced,
.spaced.grid--rev,
.spaced.grid--full,
.grid-uniform.spaced {
    margin-left: -64px
}

.grid.spaced .grid__item,
.spaced.grid--rev .grid__item,
.spaced.grid--full .grid__item,
.grid-uniform.spaced .grid__item {
    padding-left: 64px
}

.editorial-grid {
    margin-left: -64px !important
}

.editorial-grid .grid__item {
    padding-left: 64px !important
}

.grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 16px;
    vertical-align: top;
    width: 100%
}

.grid--rev {
    direction: rtl;
    text-align: left
}

.grid--rev>.grid__item {
    direction: ltr;
    text-align: left;
    float: right
}

.grid--full {
    margin-left: 0
}

.grid--full>.grid__item {
    padding-left: 0
}

.one-whole {
    width: 100%
}

.one-half {
    width: 50%
}

.one-third {
    width: 33.333%
}

.two-thirds {
    width: 66.666%
}

.one-quarter {
    width: 25%
}

.two-quarters {
    width: 50%
}

.three-quarters {
    width: 75%
}

.one-fifth {
    width: 20%
}

.two-fifths {
    width: 40%
}

.three-fifths {
    width: 60%
}

.four-fifths {
    width: 80%
}

.one-sixth {
    width: 16.666%
}

.two-sixths {
    width: 33.333%
}

.three-sixths {
    width: 50%
}

.four-sixths {
    width: 66.666%
}

.five-sixths {
    width: 83.333%
}

.one-eighth {
    width: 12.5%
}

.two-eighths {
    width: 25%
}

.three-eighths {
    width: 37.5%
}

.four-eighths {
    width: 50%
}

.five-eighths {
    width: 62.5%
}

.six-eighths {
    width: 75%
}

.seven-eighths {
    width: 87.5%
}

.one-tenth {
    width: 10%
}

.two-tenths {
    width: 20%
}

.three-tenths {
    width: 30%
}

.four-tenths {
    width: 40%
}

.five-tenths {
    width: 50%
}

.six-tenths {
    width: 60%
}

.seven-tenths {
    width: 70%
}

.eight-tenths {
    width: 80%
}

.nine-tenths {
    width: 90%
}

.one-twelfth {
    width: 8.333%
}

.two-twelfths {
    width: 16.666%
}

.three-twelfths {
    width: 25%
}

.four-twelfths {
    width: 33.333%
}

.five-twelfths {
    width: 41.666%
}

.six-twelfths {
    width: 50%
}

.seven-twelfths {
    width: 58.333%
}

.eight-twelfths {
    width: 66.666%
}

.nine-twelfths {
    width: 75%
}

.ten-twelfths {
    width: 83.333%
}

.eleven-twelfths {
    width: 91.666%
}

.show {
    display: block !important
}

.hide {
    display: none !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.left {
    float: left !important
}

.right {
    float: right !important
}

@media only screen and (max-width: 480px) {
    .small--one-whole {
        width: 100%
    }

    .small--one-half {
        width: 50%
    }

    .small--one-third {
        width: 33.333%
    }

    .small--two-thirds {
        width: 66.666%
    }

    .small--one-quarter {
        width: 25%
    }

    .small--two-quarters {
        width: 50%
    }

    .small--three-quarters {
        width: 75%
    }

    .small--one-fifth {
        width: 20%
    }

    .small--two-fifths {
        width: 40%
    }

    .small--three-fifths {
        width: 60%
    }

    .small--four-fifths {
        width: 80%
    }

    .small--one-sixth {
        width: 16.666%
    }

    .small--two-sixths {
        width: 33.333%
    }

    .small--three-sixths {
        width: 50%
    }

    .small--four-sixths {
        width: 66.666%
    }

    .small--five-sixths {
        width: 83.333%
    }

    .small--one-eighth {
        width: 12.5%
    }

    .small--two-eighths {
        width: 25%
    }

    .small--three-eighths {
        width: 37.5%
    }

    .small--four-eighths {
        width: 50%
    }

    .small--five-eighths {
        width: 62.5%
    }

    .small--six-eighths {
        width: 75%
    }

    .small--seven-eighths {
        width: 87.5%
    }

    .small--one-tenth {
        width: 10%
    }

    .small--two-tenths {
        width: 20%
    }

    .small--three-tenths {
        width: 30%
    }

    .small--four-tenths {
        width: 40%
    }

    .small--five-tenths {
        width: 50%
    }

    .small--six-tenths {
        width: 60%
    }

    .small--seven-tenths {
        width: 70%
    }

    .small--eight-tenths {
        width: 80%
    }

    .small--nine-tenths {
        width: 90%
    }

    .small--one-twelfth {
        width: 8.333%
    }

    .small--two-twelfths {
        width: 16.666%
    }

    .small--three-twelfths {
        width: 25%
    }

    .small--four-twelfths {
        width: 33.333%
    }

    .small--five-twelfths {
        width: 41.666%
    }

    .small--six-twelfths {
        width: 50%
    }

    .small--seven-twelfths {
        width: 58.333%
    }

    .small--eight-twelfths {
        width: 66.666%
    }

    .small--nine-twelfths {
        width: 75%
    }

    .small--ten-twelfths {
        width: 83.333%
    }

    .small--eleven-twelfths {
        width: 91.666%
    }

    .small--show {
        display: block !important
    }

    .small--hide {
        display: none !important
    }

    .small--text-left {
        text-align: left !important
    }

    .small--text-right {
        text-align: right !important
    }

    .small--text-center {
        text-align: center !important
    }

    .small--left {
        float: left !important
    }

    .small--right {
        float: right !important
    }

    .grid-uniform .small--one-half:nth-child(2n+1),
    .grid-uniform .small--one-third:nth-child(3n+1),
    .grid-uniform .small--one-quarter:nth-child(4n+1),
    .grid-uniform .small--one-fifth:nth-child(5n+1),
    .grid-uniform .small--one-sixth:nth-child(6n+1),
    .grid-uniform .small--two-sixths:nth-child(3n+1),
    .grid-uniform .small--three-sixths:nth-child(2n+1),
    .grid-uniform .small--two-eighths:nth-child(4n+1),
    .grid-uniform .small--four-eighths:nth-child(2n+1),
    .grid-uniform .small--five-tenths:nth-child(2n+1),
    .grid-uniform .small--one-twelfth:nth-child(12n+1),
    .grid-uniform .small--two-twelfths:nth-child(6n+1),
    .grid-uniform .small--three-twelfths:nth-child(4n+1),
    .grid-uniform .small--four-twelfths:nth-child(3n+1),
    .grid-uniform .small--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .medium--one-whole {
        width: 100%
    }

    .medium--one-half {
        width: 50%
    }

    .medium--one-third {
        width: 33.333%
    }

    .medium--two-thirds {
        width: 66.666%
    }

    .medium--one-quarter {
        width: 25%
    }

    .medium--two-quarters {
        width: 50%
    }

    .medium--three-quarters {
        width: 75%
    }

    .medium--one-fifth {
        width: 20%
    }

    .medium--two-fifths {
        width: 40%
    }

    .medium--three-fifths {
        width: 60%
    }

    .medium--four-fifths {
        width: 80%
    }

    .medium--one-sixth {
        width: 16.666%
    }

    .medium--two-sixths {
        width: 33.333%
    }

    .medium--three-sixths {
        width: 50%
    }

    .medium--four-sixths {
        width: 66.666%
    }

    .medium--five-sixths {
        width: 83.333%
    }

    .medium--one-eighth {
        width: 12.5%
    }

    .medium--two-eighths {
        width: 25%
    }

    .medium--three-eighths {
        width: 37.5%
    }

    .medium--four-eighths {
        width: 50%
    }

    .medium--five-eighths {
        width: 62.5%
    }

    .medium--six-eighths {
        width: 75%
    }

    .medium--seven-eighths {
        width: 87.5%
    }

    .medium--one-tenth {
        width: 10%
    }

    .medium--two-tenths {
        width: 20%
    }

    .medium--three-tenths {
        width: 30%
    }

    .medium--four-tenths {
        width: 40%
    }

    .medium--five-tenths {
        width: 50%
    }

    .medium--six-tenths {
        width: 60%
    }

    .medium--seven-tenths {
        width: 70%
    }

    .medium--eight-tenths {
        width: 80%
    }

    .medium--nine-tenths {
        width: 90%
    }

    .medium--one-twelfth {
        width: 8.333%
    }

    .medium--two-twelfths {
        width: 16.666%
    }

    .medium--three-twelfths {
        width: 25%
    }

    .medium--four-twelfths {
        width: 33.333%
    }

    .medium--five-twelfths {
        width: 41.666%
    }

    .medium--six-twelfths {
        width: 50%
    }

    .medium--seven-twelfths {
        width: 58.333%
    }

    .medium--eight-twelfths {
        width: 66.666%
    }

    .medium--nine-twelfths {
        width: 75%
    }

    .medium--ten-twelfths {
        width: 83.333%
    }

    .medium--eleven-twelfths {
        width: 91.666%
    }

    .medium--show {
        display: block !important
    }

    .medium--hide {
        display: none !important
    }

    .medium--text-left {
        text-align: left !important
    }

    .medium--text-right {
        text-align: right !important
    }

    .medium--text-center {
        text-align: center !important
    }

    .medium--left {
        float: left !important
    }

    .medium--right {
        float: right !important
    }

    .grid-uniform .medium--one-half:nth-child(2n+1),
    .grid-uniform .medium--one-third:nth-child(3n+1),
    .grid-uniform .medium--one-quarter:nth-child(4n+1),
    .grid-uniform .medium--one-fifth:nth-child(5n+1),
    .grid-uniform .medium--one-sixth:nth-child(6n+1),
    .grid-uniform .medium--two-sixths:nth-child(3n+1),
    .grid-uniform .medium--three-sixths:nth-child(2n+1),
    .grid-uniform .medium--two-eighths:nth-child(4n+1),
    .grid-uniform .medium--four-eighths:nth-child(2n+1),
    .grid-uniform .medium--five-tenths:nth-child(2n+1),
    .grid-uniform .medium--one-twelfth:nth-child(12n+1),
    .grid-uniform .medium--two-twelfths:nth-child(6n+1),
    .grid-uniform .medium--three-twelfths:nth-child(4n+1),
    .grid-uniform .medium--four-twelfths:nth-child(3n+1),
    .grid-uniform .medium--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (max-width: 768px) {
    .medium-down--one-whole {
        width: 100%
    }

    .medium-down--one-half {
        width: 50%
    }

    .medium-down--one-third {
        width: 33.333%
    }

    .medium-down--two-thirds {
        width: 66.666%
    }

    .medium-down--one-quarter {
        width: 25%
    }

    .medium-down--two-quarters {
        width: 50%
    }

    .medium-down--three-quarters {
        width: 75%
    }

    .medium-down--one-fifth {
        width: 20%
    }

    .medium-down--two-fifths {
        width: 40%
    }

    .medium-down--three-fifths {
        width: 60%
    }

    .medium-down--four-fifths {
        width: 80%
    }

    .medium-down--one-sixth {
        width: 16.666%
    }

    .medium-down--two-sixths {
        width: 33.333%
    }

    .medium-down--three-sixths {
        width: 50%
    }

    .medium-down--four-sixths {
        width: 66.666%
    }

    .medium-down--five-sixths {
        width: 83.333%
    }

    .medium-down--one-eighth {
        width: 12.5%
    }

    .medium-down--two-eighths {
        width: 25%
    }

    .medium-down--three-eighths {
        width: 37.5%
    }

    .medium-down--four-eighths {
        width: 50%
    }

    .medium-down--five-eighths {
        width: 62.5%
    }

    .medium-down--six-eighths {
        width: 75%
    }

    .medium-down--seven-eighths {
        width: 87.5%
    }

    .medium-down--one-tenth {
        width: 10%
    }

    .medium-down--two-tenths {
        width: 20%
    }

    .medium-down--three-tenths {
        width: 30%
    }

    .medium-down--four-tenths {
        width: 40%
    }

    .medium-down--five-tenths {
        width: 50%
    }

    .medium-down--six-tenths {
        width: 60%
    }

    .medium-down--seven-tenths {
        width: 70%
    }

    .medium-down--eight-tenths {
        width: 80%
    }

    .medium-down--nine-tenths {
        width: 90%
    }

    .medium-down--one-twelfth {
        width: 8.333%
    }

    .medium-down--two-twelfths {
        width: 16.666%
    }

    .medium-down--three-twelfths {
        width: 25%
    }

    .medium-down--four-twelfths {
        width: 33.333%
    }

    .medium-down--five-twelfths {
        width: 41.666%
    }

    .medium-down--six-twelfths {
        width: 50%
    }

    .medium-down--seven-twelfths {
        width: 58.333%
    }

    .medium-down--eight-twelfths {
        width: 66.666%
    }

    .medium-down--nine-twelfths {
        width: 75%
    }

    .medium-down--ten-twelfths {
        width: 83.333%
    }

    .medium-down--eleven-twelfths {
        width: 91.666%
    }

    .medium-down--show {
        display: block !important
    }

    .medium-down--hide {
        display: none !important
    }

    .medium-down--text-left {
        text-align: left !important
    }

    .medium-down--text-right {
        text-align: right !important
    }

    .medium-down--text-center {
        text-align: center !important
    }

    .medium-down--left {
        float: left !important
    }

    .medium-down--right {
        float: right !important
    }

    .grid-uniform .medium-down--one-half:nth-child(2n+1),
    .grid-uniform .medium-down--one-third:nth-child(3n+1),
    .grid-uniform .medium-down--one-quarter:nth-child(4n+1),
    .grid-uniform .medium-down--one-fifth:nth-child(5n+1),
    .grid-uniform .medium-down--one-sixth:nth-child(6n+1),
    .grid-uniform .medium-down--two-sixths:nth-child(3n+1),
    .grid-uniform .medium-down--three-sixths:nth-child(2n+1),
    .grid-uniform .medium-down--two-eighths:nth-child(4n+1),
    .grid-uniform .medium-down--four-eighths:nth-child(2n+1),
    .grid-uniform .medium-down--five-tenths:nth-child(2n+1),
    .grid-uniform .medium-down--one-twelfth:nth-child(12n+1),
    .grid-uniform .medium-down--two-twelfths:nth-child(6n+1),
    .grid-uniform .medium-down--three-twelfths:nth-child(4n+1),
    .grid-uniform .medium-down--four-twelfths:nth-child(3n+1),
    .grid-uniform .medium-down--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (min-width: 769px) {
    .large--one-whole {
        width: 100%
    }

    .large--one-half {
        width: 50%
    }

    .large--one-third {
        width: 33.333%
    }

    .large--two-thirds {
        width: 66.666%
    }

    .large--one-quarter {
        width: 25%
    }

    .large--two-quarters {
        width: 50%
    }

    .large--three-quarters {
        width: 75%
    }

    .large--one-fifth {
        width: 20%
    }

    .large--two-fifths {
        width: 40%
    }

    .large--three-fifths {
        width: 60%
    }

    .large--four-fifths {
        width: 80%
    }

    .large--one-sixth {
        width: 16.666%
    }

    .large--two-sixths {
        width: 33.333%
    }

    .large--three-sixths {
        width: 50%
    }

    .large--four-sixths {
        width: 66.666%
    }

    .large--five-sixths {
        width: 83.333%
    }

    .large--one-eighth {
        width: 12.5%
    }

    .large--two-eighths {
        width: 25%
    }

    .large--three-eighths {
        width: 37.5%
    }

    .large--four-eighths {
        width: 50%
    }

    .large--five-eighths {
        width: 62.5%
    }

    .large--six-eighths {
        width: 75%
    }

    .large--seven-eighths {
        width: 87.5%
    }

    .large--one-tenth {
        width: 10%
    }

    .large--two-tenths {
        width: 20%
    }

    .large--three-tenths {
        width: 30%
    }

    .large--four-tenths {
        width: 40%
    }

    .large--five-tenths {
        width: 50%
    }

    .large--six-tenths {
        width: 60%
    }

    .large--seven-tenths {
        width: 70%
    }

    .large--eight-tenths {
        width: 80%
    }

    .large--nine-tenths {
        width: 90%
    }

    .large--one-twelfth {
        width: 8.333%
    }

    .large--two-twelfths {
        width: 16.666%
    }

    .large--three-twelfths {
        width: 25%
    }

    .large--four-twelfths {
        width: 33.333%
    }

    .large--five-twelfths {
        width: 41.666%
    }

    .large--six-twelfths {
        width: 50%
    }

    .large--seven-twelfths {
        width: 58.333%
    }

    .large--eight-twelfths {
        width: 66.666%
    }

    .large--nine-twelfths {
        width: 75%
    }

    .large--ten-twelfths {
        width: 83.333%
    }

    .large--eleven-twelfths {
        width: 91.666%
    }

    .large--show {
        display: block !important
    }

    .large--hide {
        display: none !important
    }

    .large--text-left {
        text-align: left !important
    }

    .large--text-right {
        text-align: right !important
    }

    .large--text-center {
        text-align: center !important
    }

    .large--left {
        float: left !important
    }

    .large--right {
        float: right !important
    }

    .grid-uniform .large--one-half:nth-child(2n+1),
    .grid-uniform .large--one-third:nth-child(3n+1),
    .grid-uniform .large--one-quarter:nth-child(4n+1),
    .grid-uniform .large--one-fifth:nth-child(5n+1),
    .grid-uniform .large--one-sixth:nth-child(6n+1),
    .grid-uniform .large--two-sixths:nth-child(3n+1),
    .grid-uniform .large--three-sixths:nth-child(2n+1),
    .grid-uniform .large--two-eighths:nth-child(4n+1),
    .grid-uniform .large--four-eighths:nth-child(2n+1),
    .grid-uniform .large--five-tenths:nth-child(2n+1),
    .grid-uniform .large--one-twelfth:nth-child(12n+1),
    .grid-uniform .large--two-twelfths:nth-child(6n+1),
    .grid-uniform .large--three-twelfths:nth-child(4n+1),
    .grid-uniform .large--four-twelfths:nth-child(3n+1),
    .grid-uniform .large--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

[class*="push--"] {
    position: relative
}

.push--one-whole {
    left: 100%
}

.push--one-half {
    left: 50%
}

.push--one-third {
    left: 33.333%
}

.push--two-thirds {
    left: 66.666%
}

.push--one-quarter {
    left: 25%
}

.push--two-quarters {
    left: 50%
}

.push--three-quarters {
    left: 75%
}

.push--one-fifth {
    left: 20%
}

.push--two-fifths {
    left: 40%
}

.push--three-fifths {
    left: 60%
}

.push--four-fifths {
    left: 80%
}

.push--one-sixth {
    left: 16.666%
}

.push--two-sixths {
    left: 33.333%
}

.push--three-sixths {
    left: 50%
}

.push--four-sixths {
    left: 66.666%
}

.push--five-sixths {
    left: 83.333%
}

.push--one-eighth {
    left: 12.5%
}

.push--two-eighths {
    left: 25%
}

.push--three-eighths {
    left: 37.5%
}

.push--four-eighths {
    left: 50%
}

.push--five-eighths {
    left: 62.5%
}

.push--six-eighths {
    left: 75%
}

.push--seven-eighths {
    left: 87.5%
}

.push--one-tenth {
    left: 10%
}

.push--two-tenths {
    left: 20%
}

.push--three-tenths {
    left: 30%
}

.push--four-tenths {
    left: 40%
}

.push--five-tenths {
    left: 50%
}

.push--six-tenths {
    left: 60%
}

.push--seven-tenths {
    left: 70%
}

.push--eight-tenths {
    left: 80%
}

.push--nine-tenths {
    left: 90%
}

.push--one-twelfth {
    left: 8.333%
}

.push--two-twelfths {
    left: 16.666%
}

.push--three-twelfths {
    left: 25%
}

.push--four-twelfths {
    left: 33.333%
}

.push--five-twelfths {
    left: 41.666%
}

.push--six-twelfths {
    left: 50%
}

.push--seven-twelfths {
    left: 58.333%
}

.push--eight-twelfths {
    left: 66.666%
}

.push--nine-twelfths {
    left: 75%
}

.push--ten-twelfths {
    left: 83.333%
}

.push--eleven-twelfths {
    left: 91.666%
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .push--medium--one-whole {
        left: 100%
    }

    .push--medium--one-half {
        left: 50%
    }

    .push--medium--one-third {
        left: 33.333%
    }

    .push--medium--two-thirds {
        left: 66.666%
    }

    .push--medium--one-quarter {
        left: 25%
    }

    .push--medium--two-quarters {
        left: 50%
    }

    .push--medium--three-quarters {
        left: 75%
    }

    .push--medium--one-fifth {
        left: 20%
    }

    .push--medium--two-fifths {
        left: 40%
    }

    .push--medium--three-fifths {
        left: 60%
    }

    .push--medium--four-fifths {
        left: 80%
    }

    .push--medium--one-sixth {
        left: 16.666%
    }

    .push--medium--two-sixths {
        left: 33.333%
    }

    .push--medium--three-sixths {
        left: 50%
    }

    .push--medium--four-sixths {
        left: 66.666%
    }

    .push--medium--five-sixths {
        left: 83.333%
    }

    .push--medium--one-eighth {
        left: 12.5%
    }

    .push--medium--two-eighths {
        left: 25%
    }

    .push--medium--three-eighths {
        left: 37.5%
    }

    .push--medium--four-eighths {
        left: 50%
    }

    .push--medium--five-eighths {
        left: 62.5%
    }

    .push--medium--six-eighths {
        left: 75%
    }

    .push--medium--seven-eighths {
        left: 87.5%
    }

    .push--medium--one-tenth {
        left: 10%
    }

    .push--medium--two-tenths {
        left: 20%
    }

    .push--medium--three-tenths {
        left: 30%
    }

    .push--medium--four-tenths {
        left: 40%
    }

    .push--medium--five-tenths {
        left: 50%
    }

    .push--medium--six-tenths {
        left: 60%
    }

    .push--medium--seven-tenths {
        left: 70%
    }

    .push--medium--eight-tenths {
        left: 80%
    }

    .push--medium--nine-tenths {
        left: 90%
    }

    .push--medium--one-twelfth {
        left: 8.333%
    }

    .push--medium--two-twelfths {
        left: 16.666%
    }

    .push--medium--three-twelfths {
        left: 25%
    }

    .push--medium--four-twelfths {
        left: 33.333%
    }

    .push--medium--five-twelfths {
        left: 41.666%
    }

    .push--medium--six-twelfths {
        left: 50%
    }

    .push--medium--seven-twelfths {
        left: 58.333%
    }

    .push--medium--eight-twelfths {
        left: 66.666%
    }

    .push--medium--nine-twelfths {
        left: 75%
    }

    .push--medium--ten-twelfths {
        left: 83.333%
    }

    .push--medium--eleven-twelfths {
        left: 91.666%
    }
}

@media only screen and (max-width: 768px) {
    .push--medium-down--one-whole {
        left: 100%
    }

    .push--medium-down--one-half {
        left: 50%
    }

    .push--medium-down--one-third {
        left: 33.333%
    }

    .push--medium-down--two-thirds {
        left: 66.666%
    }

    .push--medium-down--one-quarter {
        left: 25%
    }

    .push--medium-down--two-quarters {
        left: 50%
    }

    .push--medium-down--three-quarters {
        left: 75%
    }

    .push--medium-down--one-fifth {
        left: 20%
    }

    .push--medium-down--two-fifths {
        left: 40%
    }

    .push--medium-down--three-fifths {
        left: 60%
    }

    .push--medium-down--four-fifths {
        left: 80%
    }

    .push--medium-down--one-sixth {
        left: 16.666%
    }

    .push--medium-down--two-sixths {
        left: 33.333%
    }

    .push--medium-down--three-sixths {
        left: 50%
    }

    .push--medium-down--four-sixths {
        left: 66.666%
    }

    .push--medium-down--five-sixths {
        left: 83.333%
    }

    .push--medium-down--one-eighth {
        left: 12.5%
    }

    .push--medium-down--two-eighths {
        left: 25%
    }

    .push--medium-down--three-eighths {
        left: 37.5%
    }

    .push--medium-down--four-eighths {
        left: 50%
    }

    .push--medium-down--five-eighths {
        left: 62.5%
    }

    .push--medium-down--six-eighths {
        left: 75%
    }

    .push--medium-down--seven-eighths {
        left: 87.5%
    }

    .push--medium-down--one-tenth {
        left: 10%
    }

    .push--medium-down--two-tenths {
        left: 20%
    }

    .push--medium-down--three-tenths {
        left: 30%
    }

    .push--medium-down--four-tenths {
        left: 40%
    }

    .push--medium-down--five-tenths {
        left: 50%
    }

    .push--medium-down--six-tenths {
        left: 60%
    }

    .push--medium-down--seven-tenths {
        left: 70%
    }

    .push--medium-down--eight-tenths {
        left: 80%
    }

    .push--medium-down--nine-tenths {
        left: 90%
    }

    .push--medium-down--one-twelfth {
        left: 8.333%
    }

    .push--medium-down--two-twelfths {
        left: 16.666%
    }

    .push--medium-down--three-twelfths {
        left: 25%
    }

    .push--medium-down--four-twelfths {
        left: 33.333%
    }

    .push--medium-down--five-twelfths {
        left: 41.666%
    }

    .push--medium-down--six-twelfths {
        left: 50%
    }

    .push--medium-down--seven-twelfths {
        left: 58.333%
    }

    .push--medium-down--eight-twelfths {
        left: 66.666%
    }

    .push--medium-down--nine-twelfths {
        left: 75%
    }

    .push--medium-down--ten-twelfths {
        left: 83.333%
    }

    .push--medium-down--eleven-twelfths {
        left: 91.666%
    }
}

@media only screen and (min-width: 769px) {
    .push--large--one-whole {
        left: 100%
    }

    .push--large--one-half {
        left: 50%
    }

    .push--large--one-third {
        left: 33.333%
    }

    .push--large--two-thirds {
        left: 66.666%
    }

    .push--large--one-quarter {
        left: 25%
    }

    .push--large--two-quarters {
        left: 50%
    }

    .push--large--three-quarters {
        left: 75%
    }

    .push--large--one-fifth {
        left: 20%
    }

    .push--large--two-fifths {
        left: 40%
    }

    .push--large--three-fifths {
        left: 60%
    }

    .push--large--four-fifths {
        left: 80%
    }

    .push--large--one-sixth {
        left: 16.666%
    }

    .push--large--two-sixths {
        left: 33.333%
    }

    .push--large--three-sixths {
        left: 50%
    }

    .push--large--four-sixths {
        left: 66.666%
    }

    .push--large--five-sixths {
        left: 83.333%
    }

    .push--large--one-eighth {
        left: 12.5%
    }

    .push--large--two-eighths {
        left: 25%
    }

    .push--large--three-eighths {
        left: 37.5%
    }

    .push--large--four-eighths {
        left: 50%
    }

    .push--large--five-eighths {
        left: 62.5%
    }

    .push--large--six-eighths {
        left: 75%
    }

    .push--large--seven-eighths {
        left: 87.5%
    }

    .push--large--one-tenth {
        left: 10%
    }

    .push--large--two-tenths {
        left: 20%
    }

    .push--large--three-tenths {
        left: 30%
    }

    .push--large--four-tenths {
        left: 40%
    }

    .push--large--five-tenths {
        left: 50%
    }

    .push--large--six-tenths {
        left: 60%
    }

    .push--large--seven-tenths {
        left: 70%
    }

    .push--large--eight-tenths {
        left: 80%
    }

    .push--large--nine-tenths {
        left: 90%
    }

    .push--large--one-twelfth {
        left: 8.333%
    }

    .push--large--two-twelfths {
        left: 16.666%
    }

    .push--large--three-twelfths {
        left: 25%
    }

    .push--large--four-twelfths {
        left: 33.333%
    }

    .push--large--five-twelfths {
        left: 41.666%
    }

    .push--large--six-twelfths {
        left: 50%
    }

    .push--large--seven-twelfths {
        left: 58.333%
    }

    .push--large--eight-twelfths {
        left: 66.666%
    }

    .push--large--nine-twelfths {
        left: 75%
    }

    .push--large--ten-twelfths {
        left: 83.333%
    }

    .push--large--eleven-twelfths {
        left: 91.666%
    }
}

body {
    background-color: #fdfdfd
}

[tabindex='-1']:focus {
    outline: none
}

.wrapper {
    *zoom: 1;
    margin: 0 auto;
    padding: 0 16px
}

.wrapper:after {
    content: '';
    display: table;
    clear: both
}

@media screen and (min-width: 769px) {
    .wrapper {
        width: 80%;
        padding: 0
    }
}

.main-content {
    display: block;
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.search-open .main-content {
    opacity: 0.25
}

.js-drawer-open .main-content {
    opacity: 0.25
}

@media screen and (max-width: 769px) {
    .main-content {
        display: block;
        margin-top: 62px;
        padding-bottom: 0px
    }
}

@media screen and (min-width: 769px) {
    .main-content {
        padding: 0px;
        margin-top: 88px
    }

    .main-content.fade {
        opacity: 0.25
    }
}

.no-click {
    pointer-events: none
}

.ib {
    display: inline-block !important
}

.is-transitioning {
    display: block !important;
    visibility: visible !important
}

.display-table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none
}

@media screen and (min-width: 769px) {
    .large--display-table {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .large--display-table-cell {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

.visually-hidden,
.supports-fontface .icon-fallback-text .fallback-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.underlined {
    display: inline-block;
    border-bottom: 1px #000 solid
}

body,
input,
textarea,
button,
select {
    color: #000;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.spaced {
    letter-spacing: 0.1em
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    font-family: "Proxima Nova", sans-serif;
    font-weight: normal;
    margin: 0 0 0.5em;
    line-height: 1.4
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    text-decoration: none;
    font-weight: inherit
}

h1,
.h1 {
    font-size: 2.28571em
}

h2,
.h2 {
    font-size: 1.71429em
}

h3,
.h3 {
    font-size: 1.5em
}

h4,
.h4 {
    font-size: 1.28571em
}

h5,
.h5 {
    font-size: 1em
}

h6,
.h6 {
    font-size: 1em
}

p {
    margin: 0 0 16px 0
}

p img {
    margin: 0
}

em {
    font-style: italic
}

b,
strong {
    font-weight: bold
}

small {
    font-size: 0.9em
}

sup,
sub {
    position: relative;
    font-size: 60%;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.5em
}

.text-smaller {
    font-size: 0.85em
}

blockquote {
    font-size: 1.125em;
    line-height: 1.45;
    font-style: italic;
    margin: 0 0 32px;
    padding: 16px 32px;
    border-left: 1px solid #f0f0f0
}

blockquote p {
    margin-bottom: 0
}

blockquote p+cite {
    margin-top: 16px
}

blockquote cite {
    display: block;
    font-size: 0.75em
}

blockquote cite:before {
    content: '\2014 \0020'
}

code,
pre {
    background-color: #faf7f5;
    font-family: Consolas, monospace;
    font-size: 1em;
    border: 0 none;
    padding: 0 2px;
    color: #51ab62
}

pre {
    overflow: auto;
    padding: 16px;
    margin: 0 0 32px
}

hr {
    clear: both;
    border-top: solid #f0f0f0;
    border-width: 1px 0 0;
    margin: 32px 0;
    height: 0
}

hr.hr--small {
    margin: 16px 0
}

hr.hr--clear {
    border-top-color: transparent
}

hr.black {
    border-color: #000
}

.section-header {
    margin-top: 32px;
    margin-bottom: 64px
}

@media screen and (min-width: 769px) {
    .section-header {
        display: table;
        width: 100%
    }

    .section-header__title {
        margin-bottom: 0;
        line-height: 48px
    }

    .section-header__left {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0
    }

    .section-header__left h1,
    .section-header__left .h1,
    .section-header__left h2,
    .section-header__left .h2,
    .section-header__left h3,
    .section-header__left .h3,
    .section-header__left h4,
    .section-header__left .h4,
    .section-header__left .h1,
    .section-header__left .h2,
    .section-header__left .h3,
    .section-header__left .h4 {
        margin-bottom: 0
    }

    .section-header__right {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 335px
    }
}

@media screen and (min-width: 769px) and (max-width: 768px) {
    .section-header__right {
        margin-bottom: 32px
    }
}

.section-header__right .form-horizontal,
.section-header__right .collection-view {
    display: inline-block;
    vertical-align: middle
}

@media screen and (min-width: 481px) {

    .section-header__right label+select,
    .section-header__right .collection-view {
        margin-left: 16px
    }
}

.collection-view {
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    padding: 0 5px;
    height: 37px;
    overflow: hidden
}

@media screen and (min-width: 769px) {
    .collection-view {
        display: inline-block
    }
}

.change-view {
    display: block;
    background: none;
    border: 0 none;
    float: left;
    padding: 10px 8px;
    color: #f0f0f0;
    line-height: 1
}

.change-view:hover,
.change-view:focus {
    color: #000
}

.change-view--active {
    cursor: default;
    color: #000
}

.rte {
    margin-bottom: 16px
}

.rte a {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px #000 solid;
    transition: all 150ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    text-indent: 0px
}

.rte a:hover,
.rte a:focus {
    color: #18428e;
    border-color: #18428e
}

.rte h1,
.rte .h1,
.rte h2,
.rte .h2,
.rte h3,
.rte .h3,
.rte h4,
.rte .h4,
.rte h5,
.rte .h5,
.rte h6,
.rte .h6 {
    margin-top: 2em
}

.rte h1:first-child,
.rte .h1:first-child,
.rte h2:first-child,
.rte .h2:first-child,
.rte h3:first-child,
.rte .h3:first-child,
.rte h4:first-child,
.rte .h4:first-child,
.rte h5:first-child,
.rte .h5:first-child,
.rte h6:first-child,
.rte .h6:first-child {
    margin-top: 0
}

.rte h1 a,
.rte .h1 a,
.rte h2 a,
.rte .h2 a,
.rte h3 a,
.rte .h3 a,
.rte h4 a,
.rte .h4 a,
.rte h5 a,
.rte .h5 a,
.rte h6 a,
.rte .h6 a {
    text-decoration: none
}

.rte>div {
    margin-bottom: 16px
}

.rte li {
    margin-bottom: 0.4em
}

.rte--header {
    margin-bottom: 0
}

a,
.text-link {
    color: #000;
    text-decoration: none;
    background: transparent
}

a.link-faded,
.text-link.link-faded {
    transition: opacity 150ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

a.link-faded:hover,
a.link-faded:focus,
.text-link.link-faded:hover,
.text-link.link-faded:focus {
    opacity: 0.1;
    mix-blend-mode: multiply
}

a:hover,
a:focus {
    color: #000
}

a:active {
    color: #fdfdfd;
    transition: color 0ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

button {
    overflow: visible
}

button[disabled],
html input[disabled] {
    cursor: default
}

.btn,
.btn--secondary,
.rte .btn--secondary,
.rte .btn,
.rte .btn--secondary {
    display: inline-block;
    padding: 8px 10px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #000
}

.btn:hover,
.btn--secondary:hover,
.rte .btn:hover,
.rte .btn--secondary:hover {
    background-color: #000;
    color: #fdfdfd !important
}

.btn:active,
.btn--secondary:active,
.btn:focus,
.btn--secondary:focus,
.rte .btn:active,
.rte .btn--secondary:active,
.rte .btn:focus,
.rte .btn--secondary:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #000
}

.btn[disabled],
[disabled].btn--secondary,
.btn.disabled,
.disabled.btn--secondary,
.rte .btn[disabled],
.rte [disabled].btn--secondary,
.rte .btn.disabled,
.rte .disabled.btn--secondary {
    cursor: default;
    color: #3e3e3e;
    background-color: #7e7e7e
}

.btn--secondary,
.rte .btn--secondary {
    background-color: transparent;
    border: 1px #000 solid;
    font-weight: normal !important;
    color: #000;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.btn--secondary:hover,
.rte .btn--secondary:hover {
    background-color: #000;
    color: #fdfdfd
}

.btn--secondary:active,
.btn--secondary:focus,
.rte .btn--secondary:active,
.rte .btn--secondary:focus {
    background-color: #000;
    color: #fdfdfd
}

.btn--small {
    padding: 4px 5px;
    font-size: 0.85714em
}

.btn--large {
    padding: 12px 15px;
    font-size: 1.5em;
    width: 100%;
    font-family: "FS Siena Light", serif;
    font-weight: normal;
    transition: background-color 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.btn--large:active,
.btn--large:focus {
    transition: background-color 0ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    background-color: rgba(0, 0, 0, 0)
}

.btn--outlined {
    padding: 12px 15px;
    font-size: 1.5em;
    width: 100%;
    font-family: "FS Siena Light", serif;
    font-weight: normal;
    transition: background-color 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    background-color: transparent;
    border: 1px #000 solid;
    color: #000
}

.btn--outlined:active,
.btn--outlined:focus {
    transition: background-color 0ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #fdfdfd
}

.btn--outlined:hover,
.btn--outlined:focus {
    background-color: #000;
    color: #fdfdfd
}

.btn--full {
    width: 100%
}

.text-link {
    display: inline;
    border: 0 none;
    background: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px #000 solid
}

.text-link:hover,
.text-link:focus {
    color: #18428e
}

ul,
ol {
    margin: 0 0 16px 20px;
    padding: 0
}

ol {
    list-style: decimal
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 4px 0 5px 20px
}

li {
    margin-bottom: 0.25em
}

ul.square {
    list-style: square outside
}

ul.disc {
    list-style: disc outside
}

ol.alpha {
    list-style: lower-alpha outside
}

.no-bullets {
    list-style: none outside;
    margin-left: 0
}

.inline-list {
    margin-left: 0
}

.inline-list li {
    display: inline-block;
    margin-bottom: 0
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table.full {
    width: 100%;
    margin-bottom: 1em
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

th {
    font-weight: bold
}

th,
td {
    text-align: left;
    padding: 16px;
    border: 1px solid #f0f0f0
}

@media screen and (max-width: 480px) {
    .table--responsive thead {
        display: none
    }

    .table--responsive tr {
        display: block
    }

    .table--responsive tr,
    .table--responsive td {
        float: left;
        clear: both;
        width: 100%
    }

    .table--responsive th,
    .table--responsive td {
        display: block;
        text-align: right;
        padding: 15px
    }

    .table--responsive td:before {
        content: attr(data-label);
        float: left;
        text-align: center;
        font-size: 12px;
        padding-right: 10px
    }

    .table--responsive.cart-table img {
        margin: 0 auto
    }

    .table--responsive.cart-table .js-qty,
    .table--responsive.cart-table .ajaxcart__qty {
        float: right
    }
}

@media screen and (max-width: 480px) {
    .table--small-hide {
        display: none !important
    }

    .table__section+.table__section {
        position: relative;
        margin-top: 10px;
        padding-top: 15px
    }

    .table__section+.table__section:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        border-bottom: 1px solid #f0f0f0
    }
}

.media,
.media-flex {
    overflow: hidden;
    _overflow: visible;
    zoom: 1
}

.media-img {
    float: left;
    margin-right: 32px
}

.media-img-right {
    float: right;
    margin-left: 32px
}

.media-img img,
.media-img-right img {
    display: block
}

img {
    border: 0 none
}

svg:not(:root) {
    overflow: hidden
}

img,
iframe {
    max-width: 100%
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0
}

.video-wrapper.portrait {
    padding-bottom: 133.33333%
}

.video-wrapper.portrait video,
.video-wrapper.portrait iframe {
    height: 100%;
    width: auto;
    left: 50%;
    top: 0px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    max-width: none;
    min-width: 100%;
    min-height: 100%
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

form {
    margin-bottom: 0
}

.form-vertical {
    margin-bottom: 16px
}

@media screen and (max-width: 768px) {

    input,
    textarea {
        font-size: 14px
    }
}

input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

button {
    background: none;
    border: none;
    cursor: pointer
}

button,
input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none
}

button {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0
}

fieldset {
    border: 1px solid #f0f0f0;
    padding: 16px
}

legend {
    border: 0;
    padding: 0
}

button,
input[type="submit"] {
    cursor: pointer
}

input,
textarea,
select {
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 0px;
    background-color: transparent;
    border: 0px solid #f0f0f0;
    border-bottom: 1px #000 solid;
    padding-left: 0px
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #000
}

input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
    color: #000
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: #000
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #000
}

input:focus,
textarea:focus,
select:focus {
    border-bottom: 2px solid #000;
    outline: 0
}

input[disabled],
input.disabled,
textarea[disabled],
textarea.disabled,
select[disabled],
select.disabled {
    cursor: default;
    background-color: #7e7e7e;
    border-color: #3e3e3e
}

input.input-full,
textarea.input-full,
select.input-full {
    width: 100%
}

textarea {
    min-height: 100px;
    border: 1px #000 solid !important;
    padding-left: 10px
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
    width: auto
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox
}

input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url("//cdn.shopify.com/s/files/1/1090/2886/t/8/assets/ico-select.svg?10289080432470149777");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer
}

.ie9 select,
.lt-ie9 select {
    padding-right: 10px;
    background-image: none
}

optgroup {
    font-weight: bold
}

option {
    color: #000;
    background-color: #fff
}

select::-ms-expand {
    display: none
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.ie9 .hidden-label,
.lt-ie9 .hidden-label {
    position: static;
    height: auto;
    width: auto;
    margin-bottom: 2px;
    overflow: visible;
    clip: initial
}

label[for] {
    cursor: pointer
}

.form-vertical input,
.form-vertical select,
.form-vertical textarea {
    display: block;
    margin-bottom: 10px
}

.form-vertical input[type="radio"],
.form-vertical input[type="checkbox"] {
    display: inline-block
}

input.error,
select.error,
textarea.error {
    border-color: red;
    background-color: transparent;
    color: red
}

label.error {
    color: red
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group .input-group-field:first-child,
.input-group .input-group-btn:first-child,
.input-group .input-group-btn:first-child>.btn,
.input-group .input-group-btn:first-child>.btn--secondary,
.input-group input[type="hidden"]:first-child+.input-group-field,
.input-group input[type="hidden"]:first-child+.input-group-btn>.btn,
.input-group input[type="hidden"]:first-child+.input-group-btn>.btn--secondary {
    border-radius: 0px 0 0 0px
}

.input-group .input-group-field:last-child,
.input-group .input-group-btn:last-child>.btn,
.input-group .input-group-btn:last-child>.btn--secondary {
    border-radius: 0 0px 0px 0
}

.input-group input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -1px
}

.input-group-field,
.input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0
}

.input-group .btn,
.input-group .btn--secondary,
.input-group .input-group-field {
    height: 37px
}

.input-group .input-group-field {
    width: 100%
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0
}

.icon-fallback-text .icon {
    display: none
}

.supports-fontface .icon-fallback-text .icon {
    display: inline-block
}

.icon:before {
    display: none
}

.supports-fontface .icon:before {
    display: inline;
    font-family: "icons";
    text-decoration: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-amazon_payments:before {
    content: "\e800"
}

.icon-american_express:before {
    content: "\41"
}

.icon-arrow-down:before {
    content: "\e607"
}

.icon-bitcoin:before {
    content: "\42"
}

.icon-cart:before {
    content: "\e600"
}

.icon-cirrus:before {
    content: "\43"
}

.icon-dankort:before {
    content: "\64"
}

.icon-diners_club:before {
    content: "\63"
}

.icon-discover:before {
    content: "\44"
}

.icon-dogecoin:before {
    content: "\e904"
}

.icon-dwolla:before {
    content: "\e905"
}

.icon-facebook:before {
    content: "\66"
}

.icon-fancy:before {
    content: "\46"
}

.icon-forbrugsforeningen:before {
    content: "\e906"
}

.icon-google-plus:before {
    content: "\e900"
}

.icon-grid-view:before {
    content: "\e603"
}

.icon-hamburger:before {
    content: "\e601"
}

.icon-instagram:before {
    content: "\e901"
}

.icon-interac:before {
    content: "\49"
}

.icon-jcb:before {
    content: "\4a"
}

.icon-list-view:before {
    content: "\e604"
}

.icon-litecoin:before {
    content: "\e908"
}

.icon-maestro:before {
    content: "\6d"
}

.icon-master:before {
    content: "\4d"
}

.icon-minus:before {
    content: "\e602"
}

.icon-paypal:before {
    content: "\50"
}

.icon-pinterest:before {
    content: "\70"
}

.icon-plus:before {
    content: "\e605"
}

.icon-rss:before {
    content: "\72"
}

.icon-search:before {
    content: "\73"
}

.icon-stripe:before {
    content: "\53"
}

.icon-tumblr:before {
    content: "\74"
}

.icon-twitter:before {
    content: "\54"
}

.icon-vimeo:before {
    content: "\76"
}

.icon-visa:before {
    content: "\56"
}

.icon-x:before {
    content: "\e606"
}

.icon-youtube:before {
    content: "\79"
}

.payment-icons {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.payment-icons li {
    margin: 0 8px 8px;
    cursor: default
}

.payment-icons .icon {
    font-size: 30px;
    line-height: 30px
}

.payment-icons .fallback-text {
    text-transform: capitalize
}

.social-icons li {
    margin: 0 16px 16px;
    vertical-align: middle
}

@media screen and (min-width: 481px) {
    .social-icons li {
        margin-left: 0
    }
}

.social-icons li .icon {
    font-size: 30px;
    line-height: 26px
}

.pagination {
    margin-bottom: 1em;
    text-align: center
}

.pagination>span {
    display: inline-block;
    line-height: 1
}

@media screen and (min-width: 769px) {
    .pagination span:last-child a {
        padding-right: 0px
    }
}

.pagination .deco {
    text-indent: 100%;
    overflow: hidden;
    border-bottom: 1px #f0f0f0 solid;
    width: 32px;
    position: relative;
    bottom: 4px
}

.pagination a {
    display: block;
    color: #f0f0f0;
    transition: color 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.pagination a:hover,
.pagination a:focus {
    color: #000
}

.pagination a,
.pagination .page.current {
    padding: 8px
}

#search-box {
    width: 100%;
    position: relative;
    top: 12px;
    display: none
}

#search-box .search-bar {
    width: 100%
}

#search-box input {
    border-bottom-width: 1px !important
}

#search-box button {
    background-color: transparent !important
}

.search-open #search-box {
    display: block
}

.modal-backing {
    position: fixed;
    z-index: 998;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-color: transparent;
    display: none
}

.search-open .modal-backing {
    display: block
}

.magnifying {
    display: inline-block;
    text-indent: 100%;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 0px;
    left: 8px
}

.magnifying:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px #000 solid;
    border-radius: 24px;
    position: absolute;
    left: 0px;
    top: 0px
}

.magnifying:after {
    position: absolute;
    width: 6px;
    border-bottom: 1px #000 solid;
    content: '';
    right: -2px;
    top: 16px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.site-header {
    padding: 16px 0;
    position: fixed;
    z-index: 999
}

@media screen and (max-width: 769px) {
    .site-header .wrapper {
        padding-left: 0px;
        padding-right: 0px
    }
}

@media screen and (min-width: 769px) {
    .site-header {
        width: 100%;
        padding: 21px 10vw
    }

    .site-header .wrapper {
        width: 100%
    }

    .site-header:hover:before,
    .site-header:focus:before {
        opacity: 1.0;
        height: 50vh
    }

    .site-header:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 176px;
        background: -moz-linear-gradient(top, rgba(245, 245, 242, 0.95) 50%, rgba(245, 245, 242, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(245, 245, 242, 0.95) 50%, rgba(245, 245, 242, 0) 100%);
        background: linear-gradient(to bottom, rgba(245, 245, 242, 0.95) 50%, rgba(245, 245, 242, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(245,245,242,0.75)', endColorstr='#00ffffff', GradientType=0);
        opacity: 0;
        transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
        pointer-events: none
    }
}

@media screen and (max-width: 769px) {
    .site-header {
        padding: 8px 0px 4px;
        background-color: #fdfdfd
    }
}

.site-header .grid--table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.site-header .grid--table>.grid__item {
    float: none;
    display: table-cell;
    vertical-align: middle
}

#sm-logo {
    width: 200px;
    z-index: 9999;
    transition: transform 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

@media screen and (max-width: 769px) {
    #sm-logo {
        position: fixed;
        left: 50%;
        margin-left: -100px;
        top: 16px
    }
}

@media screen and (max-width: 769px) {
    .js-drawer-open-left #sm-logo {
        -ms-transform: translateX(300px);
        -webkit-transform: translateX(300px);
        transform: translateX(300px)
    }
}

@media screen and (max-width: 769px) {
    .js-drawer-open-right #sm-logo {
        -ms-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px)
    }
}

#sm-logo .logo-contain {
    margin: 0;
    line-height: 1
}

@media screen and (min-width: 769px) {
    #sm-logo .logo-contain {
        width: auto;
        height: 100%
    }
}

@media screen and (min-width: 769px) {
    #sm-logo {
        height: 2vw;
        width: auto;
        position: fixed;
        left: 4vw;
        top: 50vh;
        -ms-transform: rotate(-90deg) translateX(-50%);
        -webkit-transform: rotate(-90deg) translateX(-50%);
        transform: rotate(-90deg) translateX(-50%);
        transform-origin: left top
    }

    #sm-logo svg {
        height: 100%
    }
}

#sm-logo svg path {
    fill: #000;
    transition: fill 150ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.site-header__logo {
    text-align: center;
    margin: 0 auto;
    max-width: 100%
}

@media screen and (min-width: 769px) {
    .site-header__logo {
        text-align: left
    }
}

.site-header__logo a,
.site-header__logo a:hover,
.site-header__logo a:focus {
    text-decoration: none
}

.site-header__logo a,
.site-header__logo img {
    display: block
}

.site-header__logo img {
    margin: 0 auto
}

.site-header__logo-link {
    margin: 0 auto;
    line-height: 0;
    display: block;
    position: relative
}

@media screen and (min-width: 769px) {
    .site-header__logo-link {
        height: 100%;
        width: auto
    }
}

.site-header__cart-toggle {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #000;
    position: relative;
    top: 11px;
    margin-top: -11px;
    margin-left: 16px
}

@media screen and (min-width: 769px) {
    .site-header__cart-toggle {
        right: -2px
    }
}

.site-header__cart-toggle.full:before {
    border: 1px #e2b823 solid
}

.site-header__cart-toggle:before {
    content: '';
    background-color: transparent;
    border: 1px #000 solid;
    border-radius: 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -16px;
    margin-right: -16px;
    transition: transform 450ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.site-header__cart-toggle:hover,
.site-header__cart-toggle:focus {
    color: #fdfdfd
}

.site-header__cart-toggle:hover:before,
.site-header__cart-toggle:focus:before {
    background-color: #000;
    border-color: #000
}

.site-header__cart-toggle:hover #CartCount,
.site-header__cart-toggle:hover .CartCount,
.site-header__cart-toggle:focus #CartCount,
.site-header__cart-toggle:focus .CartCount {
    color: #fdfdfd !important
}

.site-header__cart-toggle:active:before {
    background-color: #000;
    border-color: #000
}

.site-header__cart-toggle #CartCount,
.site-header__cart-toggle .CartCount {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000
}

.site-header__cart-toggle.full #CartCount,
.site-header__cart-toggle.full .CartCount {
    color: #e2b823
}

.site-header__search {
    display: inline-block;
    max-width: 400px;
    margin-top: 16px;
    width: 100%
}

.search-bar {
    max-width: 100%
}

@media screen and (max-width: 768px) {
    .search-bar {
        margin-left: auto;
        margin-right: auto
    }
}

@media screen and (max-width: 769px) {
    .search-bar .magnifying {
        display: inline-block;
        text-indent: 100%;
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        top: 0px;
        left: 8px;
        color: transparent;
        position: relative;
        left: 0px;
        outline: 0 !important
    }
}

.site-nav,
.site-nav--mobile {
    cursor: default;
    margin: 0;
    position: relative
}

.site-nav li,
.site-nav--mobile li {
    margin: 0;
    display: block;
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.site-nav li:first-child a,
.site-nav--mobile li:first-child a {
    padding-left: 0px
}

.site-nav>li,
.site-nav--mobile>li {
    display: inline-block
}

.site-nav--mobile .site-header__cart-toggle {
    top: 6px;
    right: 16px
}

.text-right .site-nav--mobile {
    margin: 0 -16px 0 0
}

.site-nav__link {
    display: block;
    text-decoration: none;
    padding: 16px;
    white-space: nowrap;
    color: #000
}

@media screen and (min-width: 769px) {
    .site-nav__link {
        padding: 12px 16px
    }
}

.site-nav__link:hover,
.site-nav__link:active,
.site-nav__link:focus {
    color: #000
}

.site-nav__link .icon-arrow-down {
    position: relative;
    top: -2px;
    font-size: 10px;
    padding-left: 8px
}

.site-nav--mobile .site-nav__link {
    display: inline-block
}

.site-nav__dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 28px;
    margin: 0;
    z-index: 5;
    width: 80vw
}

.supports-no-touch .site-nav--has-dropdown:hover .site-nav__dropdown,
.site-nav--has-dropdown.nav-hover .site-nav__dropdown,
.nav-focus+.site-nav__dropdown {
    display: block
}

.site-nav__dropdown li {
    display: inline-block;
    padding-right: 24px;
    position: relative;
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.site-nav__dropdown li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    right: 8px;
    top: 50%;
    margin-top: -2px;
    position: absolute
}

.site-nav__dropdown li:last-child {
    padding-right: 0px
}

.site-nav__dropdown li:last-child:after {
    display: none
}

.nav-search {
    position: relative;
    padding: 10px 0
}

@media screen and (max-width: 768px) {
    .nav-search {
        padding: 0 0 16px;
        margin: 0 auto;
        text-align: center
    }
}

@media screen and (max-width: 769px) {

    button.js-drawer-open-left,
    a.js-drawer-open-right {
        padding: 8px 16px
    }
}

.mobile-nav {
    margin: -16px -16px 0 -16px
}

.mobile-nav li {
    margin-bottom: 0
}

.mobile-nav__search {
    padding: 12px 16px 0px
}

.mobile-nav__search .search-bar {
    margin-bottom: 0
}

.mobile-nav__search:after {
    display: none !important
}

.mobile-nav__item {
    position: relative;
    display: block
}

.mobile-nav>.mobile-nav__item {
    background-color: #fdfdfd
}

.mobile-nav__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    border-bottom: 1px solid #f0f0f0
}

.mobile-nav>.mobile-nav__item:last-child:after {
    display: none
}

.mobile-nav__item a {
    display: block
}

.mobile-nav__item a,
.mobile-nav__toggle button {
    color: #000;
    padding: 16px;
    text-decoration: none
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:hover,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    color: #000
}

.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    background-color: #f0f0f0
}

.mobile-nav__item--active {
    font-weight: bold
}

.mobile-nav__has-sublist {
    display: table;
    width: 100%
}

.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%
}

.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none
}

.mobile-nav__toggle-close {
    display: none
}

.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block
}

.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 150ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-nav--expanded+.mobile-nav__sublist {
    visibility: visible;
    max-height: 700px;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto
}

.mobile-nav__sublist .mobile-nav__link {
    padding-left: 32px;
    font-weight: normal
}

.js-drawer-open {
    overflow: hidden
}

.drawer {
    -webkit-transform: translateZ(0);
    will-change: transform;
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 16px 16px;
    max-width: 95%;
    z-index: 10;
    color: #000;
    background-color: #fdfdfd;
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.drawer a {
    color: #000
}

.drawer a:hover,
.drawer a:focus {
    opacity: 0.7
}

.drawer input,
.drawer textarea {
    border-color: #f0f0f0
}

.drawer--left {
    width: 300px;
    left: -300px
}

.js-drawer-open-left .drawer--left {
    display: block;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.lt-ie9 .js-drawer-open-left .drawer--left {
    left: 0
}

.drawer--right {
    width: 300px;
    right: -300px
}

@media screen and (min-width: 769px) {
    .drawer--right {
        width: 33vw;
        right: -33vw;
        padding-right: 5vw
    }
}

.js-drawer-open-right .drawer--right {
    display: block;
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

@media screen and (min-width: 769px) {
    .js-drawer-open-right .drawer--right {
        -ms-transform: translateX(-33vw);
        -webkit-transform: translateX(-33vw);
        transform: translateX(-33vw)
    }
}

.lt-ie9 .js-drawer-open-right .drawer--right {
    right: 0
}

#PageContainer {
    overflow: hidden;
    background-color: #fdfdfd
}

.darken #PageContainer {
    background-color: #e4e4e4
}

@media screen and (min-width: 769px) {
    #PageContainer {
        min-height: 100vh;
        position: relative
    }
}

.is-moved-by-drawer {
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.js-drawer-open-left .is-moved-by-drawer {
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.js-drawer-open-right .is-moved-by-drawer {
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

@media screen and (min-width: 769px) {
    .js-drawer-open-right .is-moved-by-drawer {
        -ms-transform: translateX(-33vw);
        -webkit-transform: translateX(-33vw);
        transform: translateX(-33vw)
    }
}

.drawer__header {
    display: table;
    height: 56px;
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid #f0f0f0
}

@media screen and (min-width: 769px) {
    .drawer__header {
        height: 88px
    }
}

.drawer__title,
.drawer__close {
    display: table-cell;
    vertical-align: middle
}

.drawer__title {
    width: 100%
}

.drawer__close {
    width: 1%;
    text-align: center;
    font-size: 1.28571em
}

.drawer__close button {
    position: relative;
    right: -20px;
    height: 100%;
    padding: 0 20px;
    color: inherit
}

.drawer__close button:active,
.drawer__close button:focus {
    background-color: #f0f0f0
}

.site-footer {
    padding: 32px 0;
    position: relative;
    z-index: 999;
    background: #fdfdfd;
    transition: background-color 500ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.darken .site-footer {
    background-color: #e4e4e4
}

.site-footer hr {
    margin-top: 0px
}

@media screen and (min-width: 769px) {
    .site-footer {
        width: 100%;
        padding: 29px 0
    }

    .site-footer hr {
        display: none !important
    }
}

.site-footer ul {
    list-style-type: none;
    margin: 0
}

@media screen and (min-width: 769px) {
    .site-footer ul.utility-nav li:last-child a {
        padding-right: 0px
    }
}

@media screen and (min-width: 769px) {
    .site-footer ul.social-nav li:first-child a {
        padding-left: 0px
    }
}

.site-footer ul li {
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

@media screen and (min-width: 769px) {
    .site-footer ul li {
        margin-bottom: 0px
    }
}

.site-footer ul li a {
    padding: 16px 4px
}

@media screen and (min-width: 1200px) {
    .site-footer ul li a {
        padding: 16px
    }
}

@media screen and (max-width: 769px) {
    .site-footer ul li a {
        padding-left: 0px;
        padding-right: 0px
    }
}

@media screen and (min-width: 769px) {
    .site-footer ul li {
        display: inline-block
    }
}

@media screen and (max-width: 769px) {
    #promo {
        position: fixed;
        width: 100%;
        height: 32px;
        bottom: 0px;
        left: 0px;
        z-index: 99;
        pointer-events: none
    }
}

.template-collection .section-header {
    display: none
}

.pgi {
    opacity: 0;
    -ms-transform: translateY(16px);
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
    transition: transform 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95), opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.pgi figure,
.pgi figcaption {
    margin: 0
}

@media screen and (min-width: 769px) {
    .pgi .pgi-details {
        opacity: 0;
        transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
    }

    .pgi:hover .pgi-details,
    .pgi:focus .pgi-details {
        opacity: 1.0
    }
}

.pgi.loaded {
    opacity: 1.0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.pgi:hover .grid__image img.alt,
.pgi:focus .grid__image img.alt {
    display: block
}

.pgi.pgi--sold-out .grid__image {
    opacity: 0.25;
    filter: grayscale(100%);
    mix-blend-mode: multiply
}

.pgi.pgi--sold-out:hover .grid__image,
.pgi.pgi--sold-out:focus .grid__image {
    opacity: 1.0;
    filter: grayscale(0%);
    mix-blend-mode: normal
}

@media screen and (min-width: 769px) {
    .pgi.pgi-feat:nth-child(4n-2) {
        width: calc(50% - 88px);
        margin-left: 88px
    }

    .pgi.pgi-feat:nth-child(4n-1) {
        width: calc(50% - 88px);
        margin-right: 88px
    }
}

.grid__image {
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #f0f0f0;
    height: 0px;
    padding-bottom: 133.333%;
    overflow: hidden
}

.grid__image:hover,
.grid__image:focus {
    background-color: #eaeaea
}

.grid__image img {
    width: 100%;
    display: block;
    margin: 0 auto
}

.grid__image img.alt {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none
}

.pgi-image .video-wrapper:hover,
.pgi-image .video-wrapper:focus {
    mix-blend-mode: multiply
}

.pgi-details {
    padding-top: 16px;
    padding-bottom: 32px
}

.pgi-details p {
    line-height: 1 !important;
    margin: 0
}

@media screen and (min-width: 960px) {
    .pgi-details {
        padding: 16px 0px 0px;
        height: 88px
    }
}

.pgi-details .sale-price {
    margin-left: 8px;
    color: #bdbdbd
}

.filter--active {
    font-weight: bold
}

.breadcrumb {
    margin-bottom: 32px
}

.breadcrumb a,
.breadcrumb span {
    display: inline-block;
    padding: 0 7px 0 0;
    margin-right: 7px
}

.breadcrumb a:first-child,
.breadcrumb span:first-child {
    padding-left: 0
}

.product-single__variants {
    display: none
}

.no-js .product-single__variants {
    display: block
}

.product-single__photos {
    margin-bottom: 32px
}

@media screen and (min-width: 769px) {
    .product-single__photos {
        margin-bottom: 0px
    }
}

@media screen and (min-width: 769px) {
    .product-single {
        margin-bottom: 64px
    }
}

.product-single__photos a,
.product-single__photos img,
.product-single__thumbnails a,
.product-single__thumbnails img {
    display: block;
    margin: 0 auto
}

.product-single__photos li,
.product-single__thumbnails li {
    margin-bottom: 32px
}

.template-product .product-single__photos #product-video {
    display: none !important
}

@media screen and (min-width: 769px) {

    .template-product .product-overview .img-help:hover img,
    .template-product .product-overview .img-help:focus img {
        mix-blend-mode: multiply
    }
}

.template-product .rte img {
    cursor: default !important
}

.template-product .product-overview img {
    cursor: zoom-in
}

.template-product .product-overview img.zoomed {
    cursor: zoom-out;
    mix-blend-mode: normal !important
}

.template-product .img-help {
    height: 0px;
    padding-bottom: 133.333%;
    background-color: #f0f0f0;
    overflow: hidden
}

@media screen and (max-width: 769px) {
    .template-product .img-help {
        pointer-events: none !important
    }
}

@media screen and (min-width: 769px) {
    .template-product .title-grid {
        margin-top: 64px;
        margin-bottom: 64px
    }
}

.template-product .sale-price {
    color: #bdbdbd;
    margin-left: 16px;
    text-decoration: line-through
}

@media screen and (min-width: 769px) {
    .template-product .product-form {
        margin-bottom: 0px
    }
}

@media screen and (min-width: 769px) {
    .template-product .product-details {
        margin-left: 10%
    }
}

.template-product .product-details .product-description {
    margin-top: 16px
}

@media screen and (min-width: 769px) {
    .template-product #AddToCart {
        margin: 24px 0px 0px
    }
}

.template-product #AddToCart:active,
.template-product #AddToCart:focus {
    border-color: #000 !important
}

.template-product .more-info {
    margin-top: 32px
}

.template-product .more-info .more-info--info {
    position: relative
}

@media screen and (min-width: 769px) {
    .template-product .more-info .more-info--info {
        height: 300px;
        overflow: scroll;
        margin-bottom: 16px;
        padding-right: 16px
    }
}

.template-product .more-info .more-info--options h4,
.template-product .more-info .more-info--options .h4 {
    margin-right: 16px;
    margin-left: 16px;
    border-bottom: 1px transparent solid;
    transition: border 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    cursor: pointer
}

.template-product .more-info .more-info--options h4:first-child,
.template-product .more-info .more-info--options .h4:first-child {
    margin-left: 0px
}

.template-product .more-info .more-info--options h4.active,
.template-product .more-info .more-info--options .active.h4,
.template-product .more-info .more-info--options h4:hover,
.template-product .more-info .more-info--options .h4:hover,
.template-product .more-info .more-info--options h4:focus,
.template-product .more-info .more-info--options .h4:focus {
    border-bottom: 1px #000 solid
}

.template-product .more-info .more-info--var {
    opacity: 0;
    position: relative
}

.template-product .more-info .more-info--var.active {
    opacity: 1.0;
    z-index: 99
}

.template-product .more-info .more-info--var.more-info--swatches {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
}

.template-product .more-info a {
    padding-left: 0px;
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.template-product .more-info a:hover,
.template-product .more-info a:focus {
    opacity: 0.8
}

.template-product .errors {
    border: 0px;
    border-top: 1px red solid;
    padding-left: 0px;
    margin-top: 16px;
    padding-top: 16px
}

.template-product #productSelect,
.template-product .selector-wrapper {
    display: none !important
}

.template-product .swatch {
    padding-bottom: 16px
}

.template-product .selector-wrapper,
.template-product .swatch {
    border-bottom: 1px #000 solid;
    margin-bottom: 16px;
    display: block
}

.template-product .selector-wrapper label,
.template-product .selector-wrapper .option-header,
.template-product .swatch label,
.template-product .swatch .option-header {
    font-family: "FS Siena Light", serif;
    display: inline-block;
    width: 25%
}

.template-product .selector-wrapper .swatch-element,
.template-product .swatch .swatch-element {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 16px;
    top: 6px
}

.template-product .selector-wrapper .swatch-element.soldout,
.template-product .swatch .swatch-element.soldout {
    opacity: 0.25;
    pointer-events: none
}

.template-product .selector-wrapper .swatch-element label,
.template-product .swatch .swatch-element label {
    font-family: "Proxima Nova", sans-serif;
    width: auto;
    border-bottom: 1px transparent solid;
    transition: border-color 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.template-product .selector-wrapper .swatch-element label:hover,
.template-product .swatch .swatch-element label:hover {
    border-bottom-color: #000
}

.template-product .selector-wrapper .swatch-element input,
.template-product .swatch .swatch-element input {
    position: absolute;
    left: -18px;
    margin: 0
}

.template-product .selector-wrapper .swatch-element input:checked+label,
.template-product .swatch .swatch-element input:checked+label {
    border-bottom-color: #000
}

#product-video {
    background-color: #f0f0f0
}

#product-video:hover,
#product-video:focus {
    mix-blend-mode: multiply
}

@media screen and (max-width: 769px) {
    .other-images {
        display: none !important
    }
}

.other-images img {
    display: block;
    line-height: 0
}

.other-images .img-help {
    margin-bottom: 16px
}

@media screen and (max-width: 769px) {
    .other-images video {
        pointer-events: none
    }
}

@media screen and (min-width: 769px) {
    .other-images img {
        margin-bottom: 0px
    }

    .other-images .img-help {
        margin-bottom: 64px
    }

    .other-images video {
        cursor: zoom-in
    }

    .other-images video:hover,
    .other-images video:focus {
        height: 125%;
        mix-blend-mode: multiply
    }
}

.related-products h3,
.related-products .h3 {
    margin-bottom: 0px !important;
    line-height: 1
}

.related-products hr {
    border-color: #000
}

@media screen and (max-width: 769px) {
    .related-products {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px #000 solid
    }
}

body.video-preview {
    overflow: hidden
}

body.video-preview .site-footer,
body.video-preview .site-header {
    display: none
}

body.video-preview .product-single,
body.video-preview .related-products,
body.video-preview .other-images img {
    opacity: 0.25
}

body.video-preview #product-video {
    mix-blend-mode: normal !important
}

body.video-preview #sm-logo path {
    fill: #fdfdfd
}

body.video-preview .video-wrapper.portrait {
    position: fixed;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1000
}

body.video-preview .video-wrapper.portrait:after,
body.video-preview .video-wrapper.portrait:before {
    content: '';
    width: 64px;
    height: 64px;
    border-bottom: 1px #fdfdfd solid;
    position: absolute;
    right: 48px;
    top: 16px;
    transform-origin: bottom;
    z-index: 1000;
    cursor: pointer
}

body.video-preview .video-wrapper.portrait:after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

body.video-preview .video-wrapper.portrait:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

body.video-preview video {
    width: auto !important;
    min-width: 100%;
    min-height: 100%;
    height: auto !important;
    cursor: zoom-out;
    mix-blend-mode: normal !important
}

.note,
.errors {
    border-radius: 0px;
    padding: 6px 12px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    font-size: 0.9em;
    text-align: left
}

.note ul,
.note ol,
.errors ul,
.errors ol {
    margin-top: 0;
    margin-bottom: 0
}

.note li:last-child,
.errors li:last-child {
    margin-bottom: 0
}

.note p,
.errors p {
    margin-bottom: 0
}

.note {
    border-color: #f0f0f0
}

.errors ul {
    list-style: none;
    margin-left: 20px
}

.form-success {
    color: #000;
    background-color: transparent;
    border-color: #000
}

.form-success a {
    color: #000;
    text-decoration: underline
}

.form-success a:hover {
    text-decoration: none
}

.form-error,
.errors {
    color: red;
    background-color: transparent;
    border-color: red
}

.form-error a,
.errors a {
    color: red;
    text-decoration: underline
}

.form-error a:hover,
.errors a:hover {
    text-decoration: none
}

.cart__row {
    position: relative;
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #f0f0f0
}

.cart__row:first-child {
    margin-top: 0
}

.cart__row:first-child {
    padding-top: 0
}

.cart__row .js-qty,
.cart__row .ajaxcart__qty {
    margin: 0 auto
}

.cart-table th {
    font-weight: normal
}

.cart-table td,
.cart-table th {
    padding: 30px 15px;
    border: none
}

@media screen and (min-width: 769px) {

    .cart-table td td,
    .cart-table th td {
        padding-left: 0px;
        padding-right: 0px
    }
}

@media screen and (min-width: 769px) {
    .cart__row--table-large {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .cart__row--table-large .grid__item {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

.cart__image {
    display: block
}

.cart__image img {
    display: block;
    max-width: 100%
}

.cart__subtotal {
    margin: 0 0 0 10.66667px;
    display: inline
}

.cart__mini-labels {
    display: block;
    margin: 10.66667px 0;
    font-size: 0.85714em
}

@media screen and (min-width: 769px) {
    .cart__mini-labels {
        display: none
    }
}

.cart__remove {
    display: block
}

.ajaxcart__inner {
    margin-bottom: 32px
}

.ajaxcart__row>.grid,
.ajaxcart__row>.grid--rev,
.ajaxcart__row>.grid--full {
    margin-left: -16px
}

.ajaxcart__row>.grid>.grid__item,
.ajaxcart__row>.grid--rev>.grid__item,
.ajaxcart__row>.grid--full>.grid__item {
    padding-left: 16px
}

.ajaxcart__product {
    position: relative;
    max-height: 500px
}

.ajaxcart__product.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ajaxcart__row {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #f0f0f0
}

.ajaxcart__product-image {
    display: block;
    overflow: hidden;
    margin-bottom: 15px
}

.ajaxcart__product-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
    display: block
}

.ajaxcart__product-name {
    font-size: 14px;
    padding-top: 28px
}

.ajaxcart__product-meta {
    font-size: 14px
}

.js-qty,
.ajaxcart__qty {
    position: relative;
    margin-bottom: 1em;
    max-width: 100px;
    min-width: 75px;
    overflow: visible
}

.js-qty input,
.ajaxcart__qty input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0
}

.js-qty__adjust,
.ajaxcart__qty-adjust {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    border: 0 none;
    padding: 0 8px;
    background: none;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.js-qty__adjust:hover,
.ajaxcart__qty-adjust:hover,
.js-qty__adjust:focus,
.ajaxcart__qty-adjust:focus {
    color: #000
}

.js-qty__adjust--plus,
.ajaxcart__qty--plus {
    right: 0;
    border-left: 1px solid #f0f0f0
}

.js-qty__adjust--minus,
.ajaxcart__qty--minus {
    left: 0;
    border-right: 1px solid #f0f0f0
}

.ajaxcart__qty {
    margin: 0
}

.is-loading .ajaxcart__qty {
    opacity: 0.5;
    transition: none
}

.ajaxcart__qty-num {
    border-color: #f0f0f0;
    color: #000
}

.ajaxcart__qty-adjust {
    color: #000
}

.ajaxcart__qty--plus {
    border-color: #f0f0f0
}

.ajaxcart__qty--minus {
    border-color: #f0f0f0
}

.ajaxcart-item__price-strikethrough {
    float: right
}

.img {
    height: 0px;
    position: relative;
    display: block;
    background-color: #f0f0f0;
    overflow: hidden
}

.img:hover,
.img:focus {
    background-blend-mode: multiply
}

.img.square {
    padding-bottom: 100%
}

.img.portrait {
    padding-bottom: 133%
}

.img.landscape {
    padding-bottom: 75%
}

.img img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto
}

.currency-picker__wrapper select {
    border: 0px;
    outline: 0 !important;
    background: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px
}

.slick-dots {
    text-align: right !important;
    bottom: 13px !important;
    right: 13px
}

figcaption.module-caption {
    padding: 16px 0 48px
}

figcaption.module-caption h3 a,
figcaption.module-caption .h3 a {
    padding-left: 0px
}

figcaption.module-caption h3,
figcaption.module-caption .h3,
figcaption.module-caption p.subhead {
    margin: 0;
    font-size: 1rem;
    padding-left: 0px
}

@media screen and (min-width: 769px) {

    figcaption.module-caption h3,
    figcaption.module-caption .h3,
    figcaption.module-caption p.subhead {
        display: inline-block
    }
}

figcaption.module-caption h3:after,
figcaption.module-caption .h3:after {
    display: inline-block;
    content: '';
    width: 0px;
    transition: width 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    margin-left: 12px;
    margin-right: 8px;
    border-bottom: 1px #000 solid;
    position: relative;
    bottom: 4px
}

figcaption.module-caption h3.active:after,
figcaption.module-caption .active.h3:after {
    width: 96px
}

.grouping,
.module--featured-two,
.module--featured-one {
    transition: background-color 500ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.darken .grouping,
.darken .module--featured-two,
.darken .module--featured-one {
    background-color: #e4e4e4 !important
}

.template-index #instafeed a {
    display: block
}

@media screen and (min-width: 769px) {
    .template-index #PageContainer {
        background-color: transparent !important
    }
}

@media screen and (min-width: 769px) {
    .template-index .main-content {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px
    }

    .template-index .main-content .grouping {
        padding-left: 10%;
        padding-right: 10%;
        background-color: #fdfdfd
    }
}

.template-index figure a:hover img,
.template-index figure a:focus img {
    mix-blend-mode: multiply
}

@media screen and (min-width: 769px) {

    .template-index .module--video figure:hover:after,
    .template-index .module--video figure:focus:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #7e7e7e;
        opacity: 0.25;
        mix-blend-mode: multiply
    }
}

.template-index .module--video video {
    width: 100%
}

@media screen and (min-width: 769px) {
    .template-index .module--video {
        position: relative
    }

    .template-index .module--video figcaption {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 88px;
        background-color: #fdfdfd
    }

    .template-index .module--video figure {
        position: relative;
        height: 66vh;
        overflow: hidden
    }

    .template-index .module--video figure a {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 99
    }

    .template-index .module--video figure .fixed-video-wrap {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;
        z-index: -1;
        background-color: #f0f0f0
    }

    .template-index .module--video figure .fixed-video-wrap video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        width: auto;
        height: auto;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px
    }

    .template-index .module--video:before .template-index .module--video:after {
        content: '';
        width: 100%;
        height: 96px;
        position: absolute;
        left: 0px;
        background-color: #fdfdfd
    }

    .template-index .module--video:before {
        top: 0px
    }

    .template-index .module--video:after {
        bottom: 0px
    }
}

@media screen and (min-width: 769px) {

    .template-index .module--featured-two,
    .template-index .module--featured-one {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 88px;
        background-color: #fdfdfd
    }
}

@media screen and (min-width: 769px) {
    .template-index .module--featured-one {
        padding-top: 88px
    }
}

.template-index .linear-group .img {
    background-position: center center;
    background-size: cover
}

@media screen and (min-width: 769px) {
    .template-index .linear-group {
        padding-bottom: 88px
    }
}

.template-index .figwrap .img {
    background-position: center center;
    background-size: cover
}

@media screen and (min-width: 769px) {
    .template-index .staggered-group .img-top {
        width: 66.6%;
        position: relative;
        left: 33.3%
    }

    .template-index .staggered-group .right-col {
        left: 10%;
        position: relative
    }
}

@media screen and (min-width: 769px) {

    .template-index .linear-group .mod-center figcaption,
    .template-index .linear-group .mod-right figcaption {
        -ms-transform: translateX(-12.5vw);
        -webkit-transform: translateX(-12.5vw);
        transform: translateX(-12.5vw)
    }

    .template-index .linear-group .mod-left {
        margin-top: 16px
    }

    .template-index .linear-group .mod-right {
        margin-top: 128px
    }
}

#about #retail-partners ul {
    list-style-type: none;
    margin: 0
}

#about #retail-partners ul li strong {
    font-weight: normal;
    border-bottom: 1px #000 solid;
    text-transform: uppercase;
    cursor: pointer
}

#about #retail-partners ul ul {
    display: none;
    margin: 2em
}

#about #retail-partners ul a {
    border-bottom: 0px !important
}

#about #retail-partners .retail-click {
    cursor: pointer;
    display: block;
    margin-top: 0px !important;
    padding-top: 0.5em !important;
    padding-left: 0px;
    border-top: 1px #f0f0f0 solid
}

#about #retail-partners .content {
    display: none
}

#about h3,
#about .h3 {
    font-family: "FS Siena Light", serif;
    padding-left: 32px
}

@media screen and (min-width: 769px) {

    #about h3,
    #about .h3 {
        padding-left: 64px
    }
}

#about .jump-nav {
    display: none;
    position: fixed;
    top: 88px;
    left: 10vw
}

@media screen and (min-width: 769px) {
    #about .jump-nav {
        display: block
    }

    #about .jump-nav li {
        transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
    }

    #about .jump-nav li a {
        border-bottom: 1px transparent solid;
        transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
    }

    #about .jump-nav li.active a {
        border-bottom: 1px #000 solid
    }
}

.template-blog .img {
    background-position: center center;
    background-size: cover
}

.template-blog .editorial-navigation {
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    margin-bottom: 64px
}

.template-blog .editorial-navigation ul {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0px
}

.template-blog .editorial-navigation ul li {
    margin: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 32px;
    position: relative
}

.template-blog .editorial-navigation ul li:active span {
    color: #fdfdfd
}

.template-blog .editorial-navigation ul li.active span {
    border-bottom: 1px #000 solid
}

.template-blog .editorial-navigation ul li:after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -20px
}

.template-blog .editorial-navigation ul li:last-child:after {
    display: none
}

.template-blog .editorial-navigation ul span {
    display: block;
    transition: opacity 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.template-blog .editorial-navigation ul span:hover,
.template-blog .editorial-navigation ul span:focus {
    opacity: 0.8
}

@media screen and (max-width: 769px) {
    .template-blog .editorial-navigation ul {
        display: none
    }
}

.template-blog .img:hover img,
.template-blog .img:focus img {
    mix-blend-mode: multiply
}

.template-blog figure {
    position: relative
}

.template-blog figure p.date {
    position: absolute;
    letter-spacing: 0.5pt;
    top: 32px;
    text-transform: uppercase;
    right: 0px;
    -ms-transform: rotate(90deg) translateX(100%);
    -webkit-transform: rotate(90deg) translateX(100%);
    transform: rotate(90deg) translateX(100%);
    transform-origin: right center
}

.template-article .rte .video-wrapper {
    background-color: #f0f0f0;
    margin-bottom: 64px
}

.template-article .rte .video-wrapper video {
    position: absolute;
    width: 100%;
    height: auto
}

.template-article .excerpt-grid {
    margin-bottom: 64px
}

.template-article .rte {
    margin-bottom: 32px
}

.template-article .rte .date {
    margin-bottom: 16px
}

.template-article .excerpt {
    font-size: 1.5rem;
    line-height: 1.25
}

.template-article .caption {
    font-size: 0.85em;
    margin-bottom: 64px;
    display: block
}

@media screen and (min-width: 769px) {
    .template-article .caption {
        width: 66.6%;
        margin-top: 16px
    }
}

@media screen and (min-width: 769px) {
    .template-article .imagetext-template p {
        font-size: 1.5rem;
        line-height: 1.25
    }
}

.template-article .interview-template strong,
.template-article .interview-template b,
.template-article .imagetext-template strong,
.template-article .imagetext-template b {
    font-weight: normal;
    font-family: "FS Siena Light", serif;
    display: block;
    margin-bottom: -8px
}

.template-article .interview-template p,
.template-article .imagetext-template p {
    font-size: 1.125rem;
    line-height: 1.25;
    text-indent: 64px;
    margin-bottom: 64px
}

@media screen and (max-width: 768px) {
    .template-article .photo-template .editorial-grid.manipulate {
        margin-left: 0 !important
    }
}

#create-account .errors {
    color: #000 !important;
    border: 0 !important
}

#create-account .errors ul {
    margin: 0 !important;
    margin-bottom: 0px !important
}

#email_signup .btn--secondary {
    margin-top: 16px
}

#email_signup form {
    margin-top: 105px
}

#email_signup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 99999;
    cursor: pointer;
    color: #000
}

#email_signup .advice {
    height: 52px;
    display: block;
    width: 100%;
    padding-left: 10px
}

#email_signup .actual-email {
    background-color: #fdfdfd;
    width: 640px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -210px;
    display: table;
    padding: 64px
}

@media screen and (max-width: 769px) {
    #email_signup .actual-email {
        width: 300px;
        height: 420px;
        margin-left: -150px;
        margin-top: -210px
    }
}

@media screen and (max-width: 769px) {
    #email_signup .actual-email {
        padding-top: 96px;
        padding-left: 32px;
        padding-right: 32px
    }
}

#email_signup .actual-email .table {
    display: table;
    height: 100%;
    width: 100%
}

#email_signup .actual-email .email-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: -64px;
    z-index: 998
}

#email_signup .actual-email .email-image img {
    height: 100%;
    width: auto;
    max-width: none
}

#email_signup .actual-email .inner-signup-wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
    z-index: 999
}

#email_signup .actual-email h4,
#email_signup .actual-email .h4,
#email_signup .actual-email .h4 {
    font-size: 3em;
    border-bottom: 4px #fff solid;
    padding-bottom: 32px;
    margin-bottom: 32px;
    line-height: 0.75;
    text-align: right
}

#email_signup .actual-email p.plantin,
#email_signup .actual-email .mobile-nav__sublist p.mobile-nav__link,
.mobile-nav__sublist #email_signup .actual-email p.mobile-nav__link,
#email_signup .actual-email .template-page p.rte,
.template-page #email_signup .actual-email p.rte,
#email_signup .actual-email .template-stockists #map-wrap ul p.list-content,
.template-stockists #map-wrap ul #email_signup .actual-email p.list-content {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 32px;
    width: 50%;
    margin-left: 50%;
    position: relative;
    text-align: right
}

#email_signup .actual-email form #mc-email {
    display: block;
    border-bottom: 1px #000 solid;
    width: 100%;
    background-color: transparent;
    outline: none
}

#email_signup .actual-email form .absolute-btn {
    position: absolute;
    right: -20px;
    top: 12px;
    color: #fff
}

#email_signup .close-it {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 64px;
    width: 48px;
    height: 48px;
    display: block;
    cursor: pointer;
    text-align: right;
    line-height: 64px;
    z-index: 1000
}

@media screen and (max-width: 769px) {
    #email_signup .close-it {
        top: 16px;
        right: 16px
    }
}

#email_signup .close-it hr {
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px #000 solid;
    transform-origin: center center
}

#email_signup .close-it hr:first-child {
    transform: rotate(45deg) translateY(11px) translateX(12px)
}

#email_signup .close-it hr:last-child {
    transform: rotate(-45deg) translateY(10px) translateX(-10px)
}

#email_signup .modal-covering {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fdfdfd;
    opacity: 0.5
}

.paypal-button.paypal-button-shape-rect {
    border-radius: 0px !important
}

.additional_checkout_buttons {
    margin-top: 16px !important
}

.additional_checkout_buttons .additional-checkout-button {
    border-radius: 0px !important;
    width: 100% !important;
    margin: 0 !important;
    border: 1px rgba(0, 0, 0, 0) solid
}

.additional_checkout_buttons .additional-checkout-button div {
    filter: grayscale(100%) brightness(120%);
    mix-blend-mode: multiply
}
