<template>
  <div id="journal" class="template-blog">
    <Blog/>
  </div>
</template>

<script>
// @ is an alias to /src
import Blog from "@/components/Blog.vue";

export default {
  name: "home",
  components: {
    Blog
  },
  data: function() {
    return {
      
    }
  }
};
</script>
