<template>
  <div>
    <h1>404 Page Not Found</h1>
    <p>
      The page you requested does not exist. Click
      <a href="/collections/all">here</a> to continue shopping.
    </p>
  </div>
</template>

<script>
export default {
  name: "notFound"
};
</script>
