<template>
  <div id="about">
    <span>About</span>
    <div class="grid">
      <div class="grid__item large--one-third">
        <ul class="jump-nav no-bullets">
          <li class="active" style>
            <a data-id="about" href="#about">About</a>
          </li>

          <li style>
            <a data-id="make-materials" href="#make-materials">Make &amp; Materials</a>
          </li>
          <li style>
            <a data-id="sizing" href="#sizing">Sizing</a>
          </li>
          <li style>
            <a data-id="shipping" href="#shipping">Shipping</a>
          </li>
          <li style>
            <a data-id="return-policy" href="#return-policy">Return Policy</a>
          </li>
          <li style>
            <a data-id="retail-partners" href="#retail-partners">Retail Partners</a>
          </li>
          <li style>
            <a data-id="contact" href="#contact">Contact</a>
          </li>
        </ul>
      </div>

      <div class="grid__item large--two-thirds">
        <!-- About -->
        <section id="about">
          <div class="rte">
            <div style="text-align: left;">
              <img
                alt
                src="https://cdn.shopify.com/s/files/1/0031/8291/9793/files/ShainaMote_Top.jpg?v=1536269742"
                style="display: block; float: none; margin-left: auto; margin-right: auto;"
              >
            </div>
            <br>
            <p
              class="p1"
            >The Shaina Mote collection provides versatile and timeless staples for the distinctive, self-aware woman. We design pieces for a woman who eschews trend in favor of timeless self-expression.&nbsp;Season by season, the Shaina Mote collection balances the functionality of smart design with the delight of the unexpected. Each piece is purposeful: designed with subtle details and an attention to fit and construction; produced sustainably; intended to be worn, loved, and rediscovered season after season.</p>
            <p>Site Credit:
              <a
                href="http://special-offer.studio"
                target="_blank"
                rel="noopener noreferrer"
              >Special — Offer</a>
            </p>
            <hr>
          </div>
        </section>

        <!-- Make & Materials -->
        <section id="make-materials">
          <h2 class="serif">Make &amp; Materials</h2>
          <div class="rte">
            <p>All Shaina Mote pieces are designed, developed, and made in Los Angeles. We are dedicated to fair, American made production. From when we began in 2012, we have centered our ethos and practices around supporting the local economy and nurturing the trades and skills found within domestic garment manufacturing.</p>
            <p>We have built a solid base of family-run contractors and local craftsmen with whom we work. They are responsible for the long-lasting construction of every piece of clothing that we make. Even special touches throughout the seasons such as pleating or dyeing are done locally. From perfect cutting of fabric to deliberate sewing and finishing with French seams, the collection is built to last by people we know personally.</p>
            <p>Each&nbsp;Shaina Mote garment is made with attention and intention: every fabric is deliberately selected with care and consideration given to source, sustainability, and longevity.</p>
            <p>Below, a list of current materials and their origins:</p>
            <h3>Tencel</h3>
            <p>We wish tencel could take on the properties of all fabrics! Made of sustainably-harvested eucalyptus trees, it is processed using minimal water in a closed-loop system where all waste is recaptured. It retains the comfort, breathability and longevity of cotton…without any of the waste.</p>
            <h3>MicroModal</h3>
            <p>Most of our knitwear is made of MicroModal, knitted in Los Angeles. Sustainably harvested beechwood trees need minimal environmental input to create a fabric that is incredibly soft, smooth, and luxurious … and still breathable.</p>
            <h3>Rayon</h3>
            <p>Often associated with synthetics, this fiber is actually made of wood pulp from trees. Its characteristics allow it to be woven in a number of different ways that translate into a wide array of fabric options. We like the natural properties for the ease of wear and beautiful drape.</p>
            <h3>Denim</h3>
            <p>Our preferred supplier of denim is Cone Denim from North Carolina. This company is one of the few that remains after the flight of weaving machinery and expertise overseas several decades ago.</p>
            <h3>Wool</h3>
            <p>We use wool sparsely but when we do, it comes from a family-run mill in Italy that has been weaving cloth for decades.</p>
            <h3>Knitwear</h3>
            <p>Our knitwear is currently made with Peruvian yarns by a group of small, women-run workshops in Peru. It is their handiwork that creates the quality, lasting knitwear we offer within our collections.</p>
          </div>
          <hr>
        </section>

        <!-- Sizing-->
        <section id="sizing">
          <h2 class="serif">Sizing</h2>
          <div class="rte">
            <h3></h3>
            <hr>
            <table class="size-chart">
              <thead>
                <tr>
                  <th></th>
                  <th>XS (0)</th>
                  <th>2</th>
                  <th>S (4)</th>
                  <th>6</th>
                  <th>M (8)</th>
                  <th>10</th>
                  <th>L (12)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bust</td>
                  <td>31.5"</td>
                  <td>32.5"</td>
                  <td>33.5"</td>
                  <td>34.5"</td>
                  <td>36"</td>
                  <td>37"</td>
                  <td>38"</td>
                </tr>
                <tr>
                  <td>Waist</td>
                  <td>25"</td>
                  <td>26"</td>
                  <td>27"</td>
                  <td>28"</td>
                  <td>29.5"</td>
                  <td>30.5"</td>
                  <td>31.5"</td>
                </tr>
                <tr>
                  <td>Hip</td>
                  <td>34"</td>
                  <td>35"</td>
                  <td>36"</td>
                  <td>37"</td>
                  <td>38.5"</td>
                  <td>39.5"</td>
                  <td>40.5"</td>
                </tr>
              </tbody>
            </table>
            <h3></h3>
          </div>
          <hr>
        </section>

        <!-- Exchanges -->
        <section id="shipping">
          <h2 class="serif">Shipping</h2>
          <div class="rte">
            <p class="p1">
              <span class="s1"></span>Please note that many of our pieces are made-to-order.&nbsp;In stock items will ship within&nbsp;2 business days of the order date. Made-to-order items will ship within 7 - 10 days of the order date. Domestic shipping will be shipped via USPS Priority Mail. A shipping confirmation with tracking will be sent after the order has been shipped. International shipments are sent via DHL. We are not responsible for items lost, damaged or stolen in the mail.
            </p>
            <p
              class="p1"
            >If you have placed an order shipping to a destination outside the US, tax, customs and import duties will be levied by the client's local government&nbsp;
              <span>on top of our shipping cost</span>. All additional taxes and fees are the responsibility of the customer. This can range from 20% to 40% of the order value. Items will be shipping from Los Angeles, California (United States), with an official invoice declaring the exact total of merchandise purchased in US Dollars.
            </p>
            <p class="p1">&nbsp;</p>
          </div>
          <hr>
        </section>

        <!-- Return Policy -->
        <section id="return-policy">
          <h2 class="serif">Return Policy</h2>
          <div class="rte">
            <meta charset="utf-8">
            <p
              class="p1"
            >Many of our pieces are made-to-order - please consider this when you make your purchase. Any full-price, unworn and unwashed items may be returned for refund or exchange&nbsp;within 7 days&nbsp;of receiving your order.
              <span>Purchases made using a gift card or store credit are eligible for exchange or store credit only.&nbsp;</span>Swimwear will only be accepted if the hygienic strip is intact.&nbsp;
            </p>
            <p class="p1">Please
              <a href="/pages/about#contact">contact us</a> for a Return Authorization code before returning or exchanging items. We cannot issue refunds or exchanges for items returned without an accompanying code.
            </p>
            <p
              class="p2"
            >The customer is responsible for return shipping costs. We are not liable for any lost or stolen merchandise incurred during return shipping and we therefore recommend providing tracking information with your shipment.</p>
            <p
              class="p2"
            >Your account will be credited your refund or any difference in your exchange within 3 business days of receipt, less shipping charges. Please note that it may take up to an additional 10 days for the refund to show up on your account statement, depending on your credit issuer's processing time.</p>
            <p class="p2">All sale items marked 20% off or greater are final sale.</p>
            <p
              class="p2"
            >We reserve the right to refuse any return that does not comply with the conditions stated above.</p>
            <p class="p2">&nbsp;</p>
          </div>
          <hr>
        </section>

        <!-- Retail Partners -->
        <section id="retail-partners">
          <h2 class="serif">Retail Partners</h2>
          <div class="rte">
            <span class="retail-click h3">Asia</span>
            <div class="content">
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Japan</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://www.beldad-beldad.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Beldad</a>
                  </li>
                  <li>
                    <a
                      href="http://www.cibone.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Cibone</a>
                  </li>
                  <li>
                    <a
                      href="http://www.galerievie.jp/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Galerie Vie</a>
                  </li>
                  <li>
                    <a
                      href="http://rhc.ronherman.jp/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ron Herman Japan</a>
                  </li>
                  <li>
                    <a
                      href="http://thestorebyc.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >The Store by C+</a>
                  </li>
                </ul>
                <li>
                  <strong>Kuwait</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://www.melangeq8.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Mélange</a>
                  </li>
                </ul>
                <li>
                  <strong>South Korea</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://amomento.kr/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >A Momento</a>
                  </li>
                  <li>
                    <a
                      href="http://www.acorncompany.co.kr/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Acorn</a>
                  </li>
                  <li>
                    <a
                      href="http://www.dnuefashion.com/stores.php"
                      target="_blank"
                      rel="noopener noreferrer"
                    >D. Nue</a>
                  </li>
                </ul>
              </ul>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Thailand</strong>
                </li>
                <ul>
                  <li>Cocoon</li>
                </ul>
                <li>
                  <strong>United Arab Emirates</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.minbart.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Minbart</a>
                  </li>
                </ul>
              </ul>
            </div>
            <span class="retail-click h3">Oceania</span>
            <div class="content">
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Australia</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://desordrestore.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Desordre</a>
                  </li>
                </ul>
                <li>
                  <strong>New Zealand</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://www.slowstore.co.nz/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Slow Store</a>
                  </li>
                </ul>
              </ul>
            </div>
            <span class="retail-click h3">Europe</span>
            <div class="content">
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Denmark</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.mrlarkin.net"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Mr. Larkin</a>
                  </li>
                </ul>
                <li>
                  <strong>France</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.rendez-vous-store.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Rendez Vous Store</a>
                  </li>
                </ul>
                <li>
                  <strong>Italy</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.instagram.com/bjork_florence/?hl=en"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Bjork</a>
                  </li>
                </ul>
                <li>
                  <strong>Spain</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.almasanta.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Almasanta</a>
                  </li>
                </ul>
                <li>
                  <strong>Switzerland</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.qwstion.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Qwstion</a>
                  </li>
                </ul>
                <li>
                  <strong>The Netherlands</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://kimwerner.nl/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Kim Werner</a>
                  </li>
                </ul>
                <li>
                  <strong>United Kingdom</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.joanthestore.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Joan</a>
                  </li>
                </ul>
              </ul>
            </div>
            <span class="retail-click h3">North America</span>
            <div class="content">
              <meta charset="utf-8">
              <p>
                <strong>United States</strong>
              </p>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Arizona</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://shopavenueboutique.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Avenue Boutique</a>
                  </li>
                </ul>
                <li>
                  <strong>California</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.acehotel.com/losangeles"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ace Hotel</a>
                  </li>
                  <li>
                    <a
                      href="https://www.acehotel.com/palmsprings"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ace Hotel and Swim Club</a>
                  </li>
                  <li>
                    <a
                      href="https://americanrag.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >American Rag</a>
                  </li>
                  <li>
                    <a
                      href="https://www.assemblynewyork.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Assembly LA</a>
                  </li>
                  <li>
                    <a
                      href="https://birdbrooklyn.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Bird</a>
                  </li>
                  <li>
                    <a
                      href="https://www.ericatanov.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Erica Tanov</a>
                  </li>
                  <li>
                    <a href="https://www.shoplcd.co/" target="_blank" rel="noopener noreferrer">LCD</a>
                  </li>
                  <li>
                    <a
                      href="https://www.mohawkgeneralstore.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Mohawk General Store</a>
                  </li>
                  <li>
                    <a
                      href="https://www.shopnonna.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Nonna</a>
                  </li>
                  <li>
                    <a
                      href="https://www.shop-passenger.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Passenger</a>
                  </li>
                  <li>
                    <a
                      href="http://www.reliquarysf.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Reliquary</a>
                  </li>
                  <li>
                    <a
                      href="https://www.thevoyagershop.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Revolver</a>
                  </li>
                  <li>
                    <a
                      href="https://www.ronherman.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ron Herman</a>
                  </li>
                  <li>
                    <a
                      href="https://www.shopserafina.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Serafina</a>
                  </li>
                  <li>
                    <a
                      href="https://www.postranchinn.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Post Ranch Inn</a>
                  </li>
                  <li>
                    <a
                      href="https://www.whistleclub.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Whistle Club</a>
                  </li>
                </ul>
                <li>
                  <strong>Hawaii</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.shopweareiconic.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >We Are Iconic</a>
                  </li>
                </ul>
                <li>
                  <strong>Illinois</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.robinrichman.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Robin Richman</a>
                  </li>
                </ul>
                <li>
                  <strong>Kansas</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://standardstyle.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Standard Style</a>
                  </li>
                </ul>
                <li>
                  <strong>Louisiana</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.piednunola.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Pied Nu</a>
                  </li>
                </ul>
                <li>
                  <strong>Maine</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://www.shopjudith.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Judith</a>
                  </li>
                </ul>
              </ul>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Massachusetts</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.lamiamodaboutique.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >La Mia Moda</a>
                  </li>
                </ul>
                <li>
                  <strong>Michigan</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="http://www.apshoplakeside.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >AP Shop</a>
                  </li>
                </ul>
                <li>
                  <strong>Nebraska</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.themixshoes.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >The Mix</a>
                  </li>
                </ul>
                <li>
                  <strong>New Jersey</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://diamonddreamjewelers.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >My Diamond Dream</a>
                  </li>
                </ul>
                <li>
                  <strong>New York</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.assemblynewyork.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Assembly NY</a>
                  </li>
                  <li>
                    <a href="https://www.at.land/" target="_blank" rel="noopener noreferrer">At Land</a>
                  </li>
                  <li>
                    <a
                      href="https://birdbrooklyn.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Bird</a>
                  </li>
                  <li>
                    <a
                      href="https://www.concreteandwater.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Concrete + Water</a>
                  </li>
                  <li>
                    <a
                      href="https://www.oroborostore.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Oroboro</a>
                  </li>
                  <li>
                    <a
                      href="https://www.pasmalnyc.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Pas Mal</a>
                  </li>
                  <li>
                    <a
                      href="https://thedrivenewyork.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >The Drive</a>
                  </li>
                </ul>
              </ul>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>North Carolina</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.vertandvogue.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Vert &amp; Vogue</a>
                  </li>
                </ul>
                <li>
                  <strong>Ohio</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.instagram.com/continuumbazaar/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Continuum</a>
                  </li>
                </ul>
                <li>
                  <strong>Oregon</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.association-studio.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Association</a>
                  </li>
                  <li>
                    <a
                      href="https://www.francesmay.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Frances May</a>
                  </li>
                </ul>
              </ul>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>Texas</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.lascruxes.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Las Cruxes</a>
                  </li>
                  <li>
                    <a
                      href="https://www.shopolive.us/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Olive</a>
                  </li>
                  <li>
                    <a
                      href="https://www.shopsaintcloud.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Saint Cloud</a>
                  </li>
                  <li>
                    <a
                      href="https://fortyfiveten.com/4510-six"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ten Over Six</a>
                  </li>
                </ul>
              </ul>
              <ul>
                <li>
                  <strong>Vermont</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.shoprhoan.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Rhoan</a>
                  </li>
                </ul>
                <li>
                  <strong>Wisconsin</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.bonadrag.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Bona Drag</a>
                  </li>
                </ul>
                <li>
                  <strong>Wyoming</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://habits-jackson-hole.myshopify.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Habits</a>
                  </li>
                </ul>
              </ul>
              <p>&nbsp;</p>
              <meta charset="utf-8">
              <p>
                <strong>Canada</strong>
              </p>
              <meta charset="utf-8">
              <ul>
                <li>
                  <strong>British Columbia</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://www.shopadhoc.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Ad Hoc</a>
                  </li>
                  <li>
                    <a
                      href="https://www.hillsdrygoods.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Hill's Dry Goods</a>
                  </li>
                  <li>
                    <a
                      href="https://www.oneofafew.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >One of a Few</a>
                  </li>
                </ul>
                <li>
                  <strong>Alberta</strong>
                </li>
                <ul>
                  <li>
                    <a
                      href="https://leoboutique.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                    >Leo Boutique</a>
                  </li>
                </ul>
              </ul>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
            <span class="retail-click h3">Online</span>
            <div class="content">
              <ul>
                <li>
                  <a
                    href="https://www.shopeitherand.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Either, And</a>
                </li>
                <li>
                  <a
                    href="https://elborneliving.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Elborne</a>
                </li>
                <li>
                  <a
                    href="https://lagomstudio.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Lagom Studio</a>
                </li>
                <li>
                  <a
                    href="https://needsupply.com"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Need Supply Co.</a>
                </li>
                <li>
                  <a
                    href="https://www.thedreslyn.com"
                    target="_blank"
                    rel="noopener noreferrer"
                  >The Dreslyn</a>
                </li>
                <li>
                  <a
                    href="https://totokaelo.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Totokaelo</a>
                </li>
              </ul>
            </div>
          </div>
          <hr>
        </section>

        <!-- Contact -->
        <section id="contact">
          <h2 class="serif">Contact</h2>
          <div class="grid">
            <div class="grid__item large--one-half">
              <div class="rte">
                <p>Employment, Press, Customer Service
                  <br>
                  <a href="mailto:info@shainamote.com">info@shainamote.com</a>
                </p>
                <p>Wholesale Sales Inquiries
                  <br>
                  <a href="mailto:sales@shainamote.com">sales@shainamote.com</a>
                </p>
              </div>
            </div>
          </div>
          <hr>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import { Fragment } from "vue-fragment";

export default {
  name: "About",
  components: { Fragment }
};
</script>