<template>
  <div class="grid">
    <div class="grid__item">
      <h1 class="serif text-center">Journal</h1>

      <div class="editorial-navigation">
        <ul class="no-bullets inline-list">
          <li class="active">
            <span class="editorial-filter" data-topic="who">Who</span>
          </li>

          <li class>
            <span class="editorial-filter" data-topic="what">What</span>
          </li>

          <li class>
            <span class="editorial-filter" data-topic="where">Where</span>
          </li>

          <li class>
            <span class="editorial-filter" data-topic="why">Why</span>
          </li>

          <li class>
            <span class="editorial-filter" data-topic="how">How</span>
          </li>

          <li class>
            <span class="editorial-filter" data-topic="view-all">All</span>
          </li>
        </ul>
      </div>

      <div class="grid editorial-grid">
        <div class="article grid__item tag-who large--one-half one-whole" style="display: block;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/maryanne-casasanta"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/1212_e294d69b-3d78-4c91-80c3-63fb957b28b4_1280x.jpg?v=1547081097');"
            ></a>
            <p class="date no-click">
              <time datetime="2019-01-09">January 09, 2019</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif active">
              <a href="/blogs/journal/maryanne-casasanta">who</a>
            </h3>
            <p class="subhead">
              <a href="/blogs/journal/maryanne-casasanta">Maryanne Casasanta</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-what large--two-fifths one-whole" style="display: none;">
          <figure>
            <a
              class="img landscape"
              href="/blogs/journal/a-moment-in-repose-the-winter-solstice-through-time"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/2_81b4bcfc-ede8-4106-82f0-9d7aecd9ba78_1280x.jpg?v=1545157852');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-12-20">December 20, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif active">
              <a href="/blogs/journal/a-moment-in-repose-the-winter-solstice-through-time">what</a>
            </h3>
            <p class="subhead">
              <a
                href="/blogs/journal/a-moment-in-repose-the-winter-solstice-through-time"
              >A Moment in Repose: The Winter Solstice Through Time</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-what large--one-half one-whole" style="display: none;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/in-motion"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/3_1280x.jpg?v=1543449885');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-12-03">December 03, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/in-motion">what</a>
            </h3>
            <p class="subhead">
              <a href="/blogs/journal/in-motion">In Motion</a>
            </p>
          </figcaption>
        </div>

        <div
          class="article grid__item tag-where large--two-fifths one-whole"
          style="display: none;"
        >
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/early-autumn-in-puglia"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/2_99b099e1-aaef-4dea-b5ef-6a2cd2ccdc72_1280x.JPG?v=1542314275');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-11-21">November 21, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/early-autumn-in-puglia">where</a>
            </h3>
            <p class="subhead">
              <a href="/blogs/journal/early-autumn-in-puglia">Early Autumn in Puglia</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-how large--one-half one-whole" style="display: none;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/california-wildfires-how-to-help"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/firemalibu_1280x.jpg?v=1542142982');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-11-13">November 13, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/california-wildfires-how-to-help">how</a>
            </h3>
            <p class="subhead">
              <a
                href="/blogs/journal/california-wildfires-how-to-help"
              >California Wildfires: How to Help</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-what large--two-fifths one-whole" style="display: none;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/constructing-the-narrative-the-work-of-artist-valentine-schlegel"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/2_1280x.jpg?v=1542135985');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-11-13">November 13, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a
                href="/blogs/journal/constructing-the-narrative-the-work-of-artist-valentine-schlegel"
              >what</a>
            </h3>
            <p class="subhead">
              <a
                href="/blogs/journal/constructing-the-narrative-the-work-of-artist-valentine-schlegel"
              >Constructing the Narrative: The Work of Artist Valentine Schlegel</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-why large--one-half one-whole" style="display: none;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/design-philosophy-the-tie-dress"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/IMG_0593-small_1280x.jpg?v=1538618887');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-10-03">October 03, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/design-philosophy-the-tie-dress">why</a>
            </h3>
            <p class="subhead">
              <a
                href="/blogs/journal/design-philosophy-the-tie-dress"
              >Design Philosophy: The Tie Dress</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-what large--two-fifths one-whole" style="display: none;">
          <figure>
            <a
              class="img landscape"
              href="/blogs/journal/the-sky-is-different-the-wind-is-different-considering-georgia-o-keeffe-as-traveler"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/1_1280x.jpg?v=1536675064');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-09-04">September 04, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a
                href="/blogs/journal/the-sky-is-different-the-wind-is-different-considering-georgia-o-keeffe-as-traveler"
              >what</a>
            </h3>
            <p class="subhead">
              <a
                href="/blogs/journal/the-sky-is-different-the-wind-is-different-considering-georgia-o-keeffe-as-traveler"
              >“The Sky is Different, the Wind is Different”: Considering Georgia O’Keeffe as Traveler</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-what large--one-half one-whole" style="display: none;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/fall-editorial"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/Concha_Top_1_1280x.jpg?v=1536675212');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-09-04">September 04, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/fall-editorial">what</a>
            </h3>
            <p class="subhead">
              <a href="/blogs/journal/fall-editorial">First Look: Fall Editorial</a>
            </p>
          </figcaption>
        </div>

        <div class="article grid__item tag-who large--two-fifths one-whole" style="display: block;">
          <figure>
            <a
              class="img portrait"
              href="/blogs/journal/amanny-ahmad"
              style="background-image:url('//cdn.shopify.com/s/files/1/1090/2886/articles/99_Scott_Solstice_2017_1280x.jpg?v=1536675325');"
            ></a>
            <p class="date no-click">
              <time datetime="2018-09-02">September 02, 2018</time>
            </p>
          </figure>

          <figcaption class="module-caption">
            <h3 class="uppercase sans-serif">
              <a href="/blogs/journal/amanny-ahmad">who</a>
            </h3>
            <p class="subhead">
              <a href="/blogs/journal/amanny-ahmad">Amanny Ahmad</a>
            </p>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Blog",
};
</script>