<template>
  <div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header">
      <div class="drawer__title h5 serif uppercase">Shopping Bag</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text" @click="toggleCartDrawer">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">"Close Cart"</span>
        </button>
      </div>
    </div>
    <div id="CartContainer"></div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "CartDrawer",
  methods: {
    ...mapActions("ui", {
      toggleCartDrawer: "toggleDrawerRight",
    })
  }
};
</script>