<template>
  <div id="sm-logo">
    <h1 class="logo-contain" itemscope itemtype="http://schema.org/Organization">
      <a href="/" itemprop="url" class="site-header__logo-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 492 49.39"
          alt="Shaina Mote"
          itemprop="logo"
        >
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path
                class="cls-1"
                d="M1.55,42.93a16.68,16.68,0,0,0,5.68,3.35,19.63,19.63,0,0,0,6.61,1.16,11,11,0,0,0,7.94-2.87,9.64,9.64,0,0,0,2.95-7.24,9,9,0,0,0-2.25-6.06,23.78,23.78,0,0,0-6.77-4.83l-5-2.56A20,20,0,0,1,4,18.43a10.78,10.78,0,0,1-2.42-6.84,10.66,10.66,0,0,1,3.74-8.4C7.78,1.09,11.2,0,15.63,0a27.51,27.51,0,0,1,6.93.86,15.89,15.89,0,0,1,5.13,2.41l-1.17,2.1a14.87,14.87,0,0,0-4.67-2.65,19.71,19.71,0,0,0-6.22-.93A12.6,12.6,0,0,0,8,4a7.33,7.33,0,0,0-3,6.3,7.81,7.81,0,0,0,1.94,5.6,21.81,21.81,0,0,0,6.22,4.35l5.45,2.88a23.28,23.28,0,0,1,7.46,5.6A11.39,11.39,0,0,1,28.39,36a12.71,12.71,0,0,1-1.87,6.85,13.47,13.47,0,0,1-5.37,4.82,17.53,17.53,0,0,1-7.93,1.71A21,21,0,0,1,0,45.19ZM81.35,1h-4.2V22.79h-29V1h-4.2V48.38h4.2V24.5h29V48.38h4.2Zm42,29.94H106L115,7.23Zm.54,1.56,5.6,15.87h4.75L117.13,1h-1.56l-19,47.37H99.4l6-15.87ZM153.6,1h-4.19V48.38h4.19Zm55.46,0h-1.95V41.84L174.91,1h-2.25V48.38h1.94V7.55l32.2,40.83h2.26ZM250.66,31H233.32l9-23.72Zm.55,1.56,5.6,15.87h4.75L244.44,1h-1.55L223.83,48.38h2.88l6-15.87Zm91.46,15.87H347L344.54,1h-2.18l-19.6,38.65L303.32,1H301l-3.27,47.37h2.8l1.94-39.67,18.36,36.17h1.55L340.73,8.63ZM403,36.09a19.57,19.57,0,0,1-6.45,8.48,17.2,17.2,0,0,1-10.34,3.18,17,17,0,0,1-10.58-3.26,18.62,18.62,0,0,1-6.3-8.48,29.86,29.86,0,0,1-2.1-11.2,29.55,29.55,0,0,1,2.18-11.59A19.49,19.49,0,0,1,376,4.82a18.42,18.42,0,0,1,20.84.08,19.36,19.36,0,0,1,6.38,8.48,31.48,31.48,0,0,1,2,11.2A29.15,29.15,0,0,1,403,36.09m-37.64,1.4a20.57,20.57,0,0,0,8.17,8.71,24.35,24.35,0,0,0,12.68,3.19,23.63,23.63,0,0,0,11.66-3,22.54,22.54,0,0,0,8.71-8.63,26.3,26.3,0,0,0,3.27-13.3,27.75,27.75,0,0,0-2.8-12.6A21.36,21.36,0,0,0,399,3.11,24.82,24.82,0,0,0,386.23,0a23.9,23.9,0,0,0-11.59,3,22.24,22.24,0,0,0-8.71,8.71A25.55,25.55,0,0,0,362.58,25a27.33,27.33,0,0,0,2.8,12.52M453.42,1H417.26V3.42c4.67-.39,8.24-.54,10.73-.54h5.29v45.5h4.2V2.88H442c3,0,6.77.15,11.43.54ZM492,46.2c-3.73.31-7.93.47-12.52.47H470V25.28h5c4.74,0,8.94.07,12.6.31V23.33q-6.19.24-12.6.24h-5V2.72h7.39c5.13,0,9.87.23,14.23.62V1H465.87V48.38H492Z"
              ></path>
            </g>
          </g>
        </svg>
      </a>
    </h1>
  </div>
</template>

<script>
export default {
  name: "Logo",
};
</script>