<template>
  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">Browse</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text" @click="toggleNavDrawer">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">Close menu</span>
        </button>
      </div>
    </div>
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        <!-- /snippets/search-bar.liquid -->
        <form action="/search" method="get" class="input-group search-bar" role="search">
          <input type="hidden" name="type" value="product">
          <input
            type="search"
            name="q"
            value
            placeholder="Search..."
            class="input-group-field"
            aria-label="Search our store"
          >
          <span class="input-group-btn">
            <button type="submit" class="magnifying">
              <span class="fallback-text">Search</span>
            </button>
          </span>
        </form>
      </li>

      <li class="mobile-nav__item" aria-haspopup="true">
        <div class="mobile-nav__has-sublist">
          <a href="/collections/new-arrivals" class="mobile-nav__link">Shop</a>
          <div class="mobile-nav__toggle">
            <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
              <span class="icon icon-plus" aria-hidden="true"></span>
              <span class="fallback-text">See More</span>
            </button>
            <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
              <span class="icon icon-minus" aria-hidden="true"></span>
              <span class="fallback-text">"Close Cart"</span>
            </button>
          </div>
        </div>
        <ul class="mobile-nav__sublist">
          <li class="mobile-nav__item">
            <a href="/collections/new-arrivals" class="mobile-nav__link">New Arrivals</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/tops" class="mobile-nav__link">Tops</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/dresses" class="mobile-nav__link">Dresses</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/bottoms" class="mobile-nav__link">Bottoms + Jumpsuits</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/sweaters" class="mobile-nav__link">Sweaters + Outerwear</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/swim" class="mobile-nav__link">Swim</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/scarves" class="mobile-nav__link">Scarves</a>
          </li>

          <li class="mobile-nav__item">
            <a href="/collections/sale" class="mobile-nav__link">Sale</a>
          </li>
        </ul>
      </li>

      <li class="mobile-nav__item">
        <a href="/blogs/journal" class="mobile-nav__link">Journal</a>
      </li>

      <li class="mobile-nav__item">
        <a href="/pages/about" class="mobile-nav__link">About</a>
      </li>

      <li class="mobile-nav__item">
        <a href="/account/login" id="customer_login_link">Log in</a>
      </li>
      <li class="mobile-nav__item">
        <a href="/account/register" id="customer_register_link">Create account</a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "NavDrawer",
  computed: {},
  methods: {
    ...mapActions("ui", {
      toggleNavDrawer: "toggleDrawerLeft",
    })
  }
};
</script>