<template>
  <div class="grid">
    <div class="grid__item">
      <header class="section-header">
        <h1 class="section-header__title text-center serif">New Arrivals</h1>
      </header>

      <div class="grid-uniform">
        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/alma-top" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/022_2000x.jpg?v=1547170238"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/022_2000x.jpg?v=1547170238"
                alt="Alma Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/033_2000x.jpg?v=1547170238"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/033_2000x.jpg?v=1547170238"
                alt="Alma Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/alma-top"
                  >Alma Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$240">$240</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/silk-tulia-pant" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/077_2000x.jpg?v=1547170349"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/077_2000x.jpg?v=1547170349"
                alt="Silk Tulia Pant"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/066_2000x.jpg?v=1547170349"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/066_2000x.jpg?v=1547170349"
                alt="Silk Tulia Pant"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/silk-tulia-pant"
                  >Silk Tulia Pant</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$274">$274</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/eli-skirt" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07270014_2000x.jpg?v=1541709424"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07270014_2000x.jpg?v=1541709424"
                alt="Eli Skirt"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07170007_2000x.jpg?v=1541709424"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07170007_2000x.jpg?v=1541709424"
                alt="Eli Skirt"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/eli-skirt"
                  >Eli Skirt</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$578">$578</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/hira-top" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/SS19_FLYER_copy_2000x.jpg?v=1541714146"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/SS19_FLYER_copy_2000x.jpg?v=1541714146"
                alt="Hira Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07350009_copy_2000x.jpg?v=1541714146"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07350009_copy_2000x.jpg?v=1541714146"
                alt="Hira Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/hira-top"
                  >Hira Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$322">$322</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/nadir-pant" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07220005_2000x.jpg?v=1542072452"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07220005_2000x.jpg?v=1542072452"
                alt="Nadir Pant"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07220004_2000x.jpg?v=1542072452"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07220004_2000x.jpg?v=1542072452"
                alt="Nadir Pant"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/nadir-pant"
                  >Nadir Pant</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$322">$322</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half loaded">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/loose-tee-1" class="grid__image">
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07050016_2000x.jpg?v=1541710233"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07050016_2000x.jpg?v=1541710233"
                alt="Loose Tee Rib"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07230001_2000x.jpg?v=1541710249"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07230001_2000x.jpg?v=1541710249"
                alt="Loose Tee Rib"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/loose-tee-1"
                  >Loose Tee Rib</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$132">$132</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/arcos-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shaina_Mote_PS19-32_2000x.jpg?v=1542072596"
                alt="Arcos Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07230011_8e2ec31b-388d-411b-8749-738de22fa1ef_2000x.jpg?v=1542072596"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07230011_8e2ec31b-388d-411b-8749-738de22fa1ef_2000x.jpg?v=1542072596"
                alt="Arcos Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/arcos-top"
                  >Arcos Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$347">$347</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/maarifa-jacket" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07240006_2000x.jpg?v=1542072652"
                alt="Maarifa Jacket"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07240015_761ba0f6-b88f-4bd7-900f-ba884793e9c0_2000x.jpg?v=1542072652"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07240015_761ba0f6-b88f-4bd7-900f-ba884793e9c0_2000x.jpg?v=1542072652"
                alt="Maarifa Jacket"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/maarifa-jacket"
                  >Maarifa Jacket</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$460">$460</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/lille-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07040015_43bb46c6-c6b3-4969-b1be-12ee6d3bd385_2000x.jpg?v=1545174172"
                alt="Lille Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07300005_2000x.jpg?v=1545174198"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07300005_2000x.jpg?v=1545174198"
                alt="Lille Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/lille-top"
                  >Lille Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$123">$123</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/avignon-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07340002_copy_2000x.jpg?v=1541708965"
                alt="Avignon Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07030003_2000x.jpg?v=1541708965"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07030003_2000x.jpg?v=1541708965"
                alt="Avignon Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/avignon-dress"
                  >Avignon Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="medium-down--hide">From</span>
                  <span class="money" data-currency-usd="$452">$452</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/roche-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07290008_2000x.jpg?v=1542072707"
                alt="Roche Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07290004_3de970bc-6c49-4f35-8709-7bb97291cfed_2000x.jpg?v=1542072707"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07290004_3de970bc-6c49-4f35-8709-7bb97291cfed_2000x.jpg?v=1542072707"
                alt="Roche Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/roche-top"
                  >Roche Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$260">$260</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/cassina-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07060006_2000x.jpg?v=1541709271"
                alt="Cassina Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07060002_2000x.jpg?v=1541709271"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07060002_2000x.jpg?v=1541709271"
                alt="Cassina Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/cassina-dress"
                  >Cassina Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$625">$625</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/hira-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07180006_e92b3780-3213-4af2-963f-4dd349c1956c_2000x.jpg?v=1542072832"
                alt="Hira Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07180010_2000x.jpg?v=1542072832"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07180010_2000x.jpg?v=1542072832"
                alt="Hira Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/hira-dress"
                  >Hira Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$495">$495</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/soleil-bottom" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07260004_2000x.jpg?v=1545174711"
                alt="Soleil Bottom"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07260005_2000x.jpg?v=1545174715"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07260005_2000x.jpg?v=1545174715"
                alt="Soleil Bottom"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/soleil-bottom"
                  >Soleil Bottom</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$115">$115</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/marin-tank-1" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07240014_1fb69c59-a6b2-4f1e-aa47-484e4eebfb32_2000x.jpg?v=1542072980"
                alt="Marin Tank Rib"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07240013_f2e965cb-779d-4a0b-9378-dc8b2ce98999_2000x.jpg?v=1542072980"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07240013_f2e965cb-779d-4a0b-9378-dc8b2ce98999_2000x.jpg?v=1542072980"
                alt="Marin Tank Rib"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/marin-tank-1"
                  >Marin Tank Rib</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$123">$123</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/milo-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07100003_d07cdef6-1f14-46a6-98f3-69e42c2eee24_2000x.jpg?v=1542073013"
                alt="Milo Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07100007_2000x.jpg?v=1542073013"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07100007_2000x.jpg?v=1542073013"
                alt="Milo Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/milo-top"
                  >Milo Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$388">$388</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/rumi-trouser" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/30_2000x.jpg?v=1542073106"
                alt="Rumi Trouser"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/7_2000x.jpg?v=1542073106"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/7_2000x.jpg?v=1542073106"
                alt="Rumi Trouser"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/rumi-trouser"
                  >Rumi Trouser</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$422">$422</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/saturno-scarf" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/19_2000x.jpg?v=1544148189"
                alt="Saturno Scarf"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07360007_copy_2000x.jpg?v=1544148189"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07360007_copy_2000x.jpg?v=1544148189"
                alt="Saturno Scarf"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/saturno-scarf"
                  >Saturno Scarf</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$175">$175</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/sonora-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/31_2000x.jpg?v=1542073253"
                alt="Sonora Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/36_2000x.jpg?v=1542073253"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/36_2000x.jpg?v=1542073253"
                alt="Sonora Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/sonora-top"
                  >Sonora Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$255">$255</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/souki-shawl" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07190012_2000x.jpg?v=1541711779"
                alt="Souki Shawl"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07210001_2000x.jpg?v=1541711779"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07210001_2000x.jpg?v=1541711779"
                alt="Souki Shawl"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/souki-shawl"
                  >Souki Shawl</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$345">$345</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/square-swimsuit" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07200007_2000x.jpg?v=1542073335"
                alt="Square Swimsuit"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07200011_2000x.jpg?v=1542073335"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07200011_2000x.jpg?v=1542073335"
                alt="Square Swimsuit"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/square-swimsuit"
                  >Square Swimsuit</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$237">$237</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/terra-jumpsuit" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07160003_2000x.jpg?v=1541711891"
                alt="Terra Jumpsuit"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/07250010_2000x.jpg?v=1541711905"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/07250010_2000x.jpg?v=1541711905"
                alt="Terra Jumpsuit"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/terra-jumpsuit"
                  >Terra Jumpsuit</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$487">$487</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/gia-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/gia_1_2000x.jpg?v=1543452832"
                alt="Gia Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/gia_2_2000x.JPG?v=1543452868"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/gia_2_2000x.JPG?v=1543452868"
                alt="Gia Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/gia-top"
                  >Gia Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$264">$264</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/sevilla-skirt" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/sevilla_1_2000x.jpg?v=1543453544"
                alt="Sevilla Skirt"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/sevilla_2_2000x.jpg?v=1543453546"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/sevilla_2_2000x.jpg?v=1543453546"
                alt="Sevilla Skirt"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/sevilla-skirt"
                  >Sevilla Skirt</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$228">$228</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/apollo-pant" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-60-web_2000x.jpg?v=1540513476"
                alt="Apollo Pant"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-59-web_7e61047a-d9b2-4624-a29e-6dd2ba065d12_2000x.jpg?v=1540513476"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-59-web_7e61047a-d9b2-4624-a29e-6dd2ba065d12_2000x.jpg?v=1540513476"
                alt="Apollo Pant"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/apollo-pant"
                  >Apollo Pant</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$170">$170</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$340">$340</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/argento-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Argento_2-web_2000x.jpg?v=1540513621"
                alt="Argento Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Argento_3-web_2000x.jpg?v=1540513621"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Argento_3-web_2000x.jpg?v=1540513621"
                alt="Argento Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/argento-dress"
                  >Argento Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$319">$319</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/aster-skirt" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-74-web_2000x.jpg?v=1540514316"
                alt="Aster Skirt"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-75-web_40602ec9-f4fa-45a7-9eae-4c01b4aa04ef_2000x.jpg?v=1540514316"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-75-web_40602ec9-f4fa-45a7-9eae-4c01b4aa04ef_2000x.jpg?v=1540514316"
                alt="Aster Skirt"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/aster-skirt"
                  >Aster Skirt</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$354">$354</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/cesca-pant" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-36-web_51173a0c-231a-4bb9-97d7-88a90164930e_2000x.jpg?v=1540514676"
                alt="Cesca Pant"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-38-web_382d20f1-e39e-4dd5-bb3a-d7e65376338b_2000x.jpg?v=1540514681"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-38-web_382d20f1-e39e-4dd5-bb3a-d7e65376338b_2000x.jpg?v=1540514681"
                alt="Cesca Pant"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/cesca-pant"
                  >Cesca Pant</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$176">$176</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$352">$352</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/classic-tee" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-82-web_2000x.jpg?v=1540514873"
                alt="Classic Tee"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-78-web_2000x.jpg?v=1540514873"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-78-web_2000x.jpg?v=1540514873"
                alt="Classic Tee"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/classic-tee"
                  >Classic Tee</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$123">$123</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half pgi--sold-out">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/concha-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-42-web_2000x.jpg?v=1540515610"
                alt="Concha Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-41-web_-_small_2000x.jpg?v=1540515610"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-41-web_-_small_2000x.jpg?v=1540515610"
                alt="Concha Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/concha-top"
                  >Concha Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$172">$172</span>

                  <br>
                  <strong>Sold Out</strong>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$344">$344</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/dahlia-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-88-web_2000x.jpg?v=1540937624"
                alt="Dahlia Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-90-web_2000x.jpg?v=1540937624"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-90-web_2000x.jpg?v=1540937624"
                alt="Dahlia Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/dahlia-dress"
                  >Dahlia Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$181">$181</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$361">$361</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half pgi--sold-out">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/didion-sweater" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-5-web_2000x.jpg?v=1540937898"
                alt="Didion Sweater"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-2-web_2000x.jpg?v=1540937898"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-2-web_2000x.jpg?v=1540937898"
                alt="Didion Sweater"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/didion-sweater"
                  >Didion Sweater</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$174">$174</span>

                  <br>
                  <strong>Sold Out</strong>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$349">$349</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/etta-jacket" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-45-web_dd55d714-2ef8-419f-a01c-3c5cbf34a6cc_2000x.jpg?v=1540938437"
                alt="Etta Jacket"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-46-web_0e61c632-0833-4414-ae0a-780719b98d52_2000x.jpg?v=1540938437"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-46-web_0e61c632-0833-4414-ae0a-780719b98d52_2000x.jpg?v=1540938437"
                alt="Etta Jacket"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/etta-jacket"
                  >Etta Jacket</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$185">$185</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$370">$370</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/georgia-dress" class="grid__image">
              <div class="video-wrapper portrait">
                <video autoplay loop muted playsinline preload="auto">
                  <source
                    src="//cdn.shopify.com/s/files/1/1090/2886/files/georgia-dress.mp4?16181694258760459840"
                    type="video/mp4"
                  >
                </video>
              </div>
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/georgia-dress"
                  >Georgia Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$278">$278</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$557">$557</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/leigh-skirt" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-56-web_9b266b59-9bdd-46ba-a115-81030f7103bd_2000x.jpg?v=1540939201"
                alt="Leigh Skirt"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-55-web_2000x.jpg?v=1540939201"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-55-web_2000x.jpg?v=1540939201"
                alt="Leigh Skirt"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/leigh-skirt"
                  >Leigh Skirt</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$176">$176</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$352">$352</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/loose-tee" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-84-web_2000x.jpg?v=1540939540"
                alt="Loose Tee"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-83-web_cbbcba62-eef2-4b4c-a17b-358f2defdc23_2000x.jpg?v=1540939540"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-83-web_cbbcba62-eef2-4b4c-a17b-358f2defdc23_2000x.jpg?v=1540939540"
                alt="Loose Tee"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/loose-tee"
                  >Loose Tee</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$125">$125</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/marin-tank" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-72-web_2000x.jpg?v=1540940180"
                alt="Marin Tank"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-69-web_2000x.jpg?v=1540940180"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-69-web_2000x.jpg?v=1540940180"
                alt="Marin Tank"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/marin-tank"
                  >Marin Tank</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$119">$119</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/mer-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Mer_1-web_2000x.jpg?v=1540940241"
                alt="Mer Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Mer_2-web_2000x.jpg?v=1540940245"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Mer_2-web_2000x.jpg?v=1540940245"
                alt="Mer Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/mer-dress"
                  >Mer Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$178">$178</span>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$360">$360</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/nara-jumpsuit" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Nara_4-web_2000x.jpg?v=1540940580"
                alt="Nara Jumpsuit"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Nara_2-web_2000x.jpg?v=1540940580"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Nara_2-web_2000x.jpg?v=1540940580"
                alt="Nara Jumpsuit"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/nara-jumpsuit"
                  >Nara Jumpsuit</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$363">$363</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/nin-top" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-75-web_2000x.jpg?v=1540940837"
                alt="Nin Top"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-73-web_a7a491fa-2a13-4725-ac4c-b6f057f2bafc_2000x.jpg?v=1540940837"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-73-web_a7a491fa-2a13-4725-ac4c-b6f057f2bafc_2000x.jpg?v=1540940837"
                alt="Nin Top"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/nin-top"
                  >Nin Top</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$235">$235</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/tie-dress" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Tie_Dress_1-web_2000x.jpg?v=1540941518"
                alt="Tie Dress"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Tie_Dress_2-web_2000x.jpg?v=1540941523"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Tie_Dress_2-web_2000x.jpg?v=1540941523"
                alt="Tie Dress"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/tie-dress"
                  >Tie Dress</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$297">$297</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/tulia-pant-1" class="grid__image">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-78-web_d56af82a-e8cc-4923-8a2d-95a97ff9f5b9_2000x.jpg?v=1540941606"
                alt="Tulia Pant"
              >
              <img
                src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-80-web_2000x.jpg?v=1540941842"
                class="alt"
                data-src="//cdn.shopify.com/s/files/1/1090/2886/products/Shainamote_Ecomm_Finals-80-web_2000x.jpg?v=1540941842"
                alt="Tulia Pant"
                style
              >
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/tulia-pant-1"
                  >Tulia Pant</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <span class="money" data-currency-usd="$322">$322</span>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>

        <!-- /snippets/product-grid-item-feat.liquid -->
        <div class="pgi pgi-feat grid__item large--one-half one-half pgi--sold-out">
          <figure class="pgi-image">
            <a href="/collections/new-arrivals/products/uma-trench" class="grid__image">
              <div class="video-wrapper portrait">
                <video autoplay loop muted playsinline preload="auto">
                  <source
                    src="//cdn.shopify.com/s/files/1/1090/2886/files/uma-trench.mp4?16181694258760459840"
                    type="video/mp4"
                  >
                </video>
              </div>
            </a>
          </figure>
          <figcaption class="pgi-details">
            <div class="grid">
              <div class="grid__item two-thirds">
                <p>
                  <a
                    class="uppercase serif"
                    href="/collections/new-arrivals/products/uma-trench"
                  >Uma Trench</a>
                </p>
              </div>
              <div class="grid__item one-third">
                <p class="serif text-right">
                  <strong class="visually-hidden">On Sale</strong>
                  <span class="money" data-currency-usd="$263">$263</span>

                  <br>
                  <strong>Sold Out</strong>
                  
                  <span class="visually-hidden">Regular price</span>
                  <s class="sale-price">
                    <span class="money" data-currency-usd="$525">$525</span>
                  </s>
                </p>
              </div>
              <div class="grid__item one-whole">
                <span class="text-smaller"></span>
              </div>
            </div>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Products",
};
</script>