<template>
  <header class="site-header is-moved-by-drawer" role="banner">
    <div class="wrapper">
      <div class="grid--full grid--table">
        <div class="grid__item large--two-thirds">
          <nav class="nav-bar" role="navigation">
            <div class="medium-down--hide">
              <ul class="site-nav" id="AccessibleNav">
                <li 
                  v-for="(item, index) in items" 
                  :key="index"
                  :class="{'site-nav--has-dropdown': item.items && item.items.length}">
                  <router-link 
                    :to="item.url"
                    class="site-nav__link spaced">{{item.name}}</router-link>

                    <ul class="site-nav__dropdown" v-if="item.items && item.items.length">
                      <li class="site-nav--active" 
                        v-for="(childItem, index) in item.items"
                        :key="index">
                        <router-link 
                          :to="childItem.url"
                          class="site-nav__link">{{childItem.name}}</router-link>
                      </li>
                    </ul>
                </li>
              </ul>
            </div>
            <div class="large--hide medium-down--show">
              <div class="grid">
                <div class="grid__item one-half">
                  <div class="site-nav--mobile">
                    <button
                      type="button"
                      class="icon-fallback-text site-nav__link js-drawer-open-left"
                      aria-controls="NavDrawer"
                      aria-expanded="false"
                      @click="toggleNavDrawer"
                    >
                      <span class="icon icon-hamburger" aria-hidden="true"></span>
                      <span class="fallback-text">Menu</span>
                    </button>
                  </div>
                </div>
                <div class="grid__item one-half text-right">
                  <div class="site-nav--mobile">
                    <a
                      href="/cart"
                      class="js-drawer-open-right site-nav__link"
                      aria-controls="CartDrawer"
                      aria-expanded="false"
                      @click.prevent="toggleCartDrawer"
                    >
                      <span class="site-header__cart-toggle">
                        <span class="CartCount">0</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="grid__item large--one-third large--text-right medium-down--hide">
          <a href="/account/login" id="customer_login_link">Login</a>
          
          <span id="search-toggle" class="magnifying" @click="toggleSearch"></span>
          
          <a
            href="/cart"
            class="site-header__cart-toggle js-drawer-open-right"
            aria-controls="CartDrawer"
            aria-expanded="false"
            @click.prevent="toggleCartDrawer"
          >
            <span id="CartCount">0</span>
            <span id="CartCost" class="visually-hidden">
              <span class="money" data-currency-usd="$0">$0</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div id="search-box" class="medium-down--hide">
      <form action="/search" method="get" class="input-group search-bar" role="search">
        <input type="hidden" name="type" value="product">
        <input
          id="search-focus"
          type="search"
          name="q"
          placeholder="Enter your search term and hit enter."
          class="input-group-field"
          aria-label="Enter your search term and hit enter."
          autocomplete="off"
        >
        <span class="input-group-btn" style="display: none;">
          <button type="submit" class="btn icon-fallback-text">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="fallback-text">Search</span>
          </button>
        </span>
      </form>
    </div>
  </header>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "SiteHeader",
  methods: {
    ...mapActions("ui", {
      toggleNavDrawer: "toggleDrawerLeft",
      toggleCartDrawer: "toggleDrawerRight",
      toggleSearch: "toggleSearch"
    })
  },
  data: function() {
    return {
      items: [
        {
          name: 'Shop',
          url: '/collections/new-arrivals',
          items: [
            {
              name: 'New Arrivals',
              url: '/collections/new-arrivals'
            },
            {
              name: 'Top',
              url: '/collections/tops'
            },
            {
              name: 'Dresses',
              url: '/collections/dresses'
            },
            {
              name: 'Bottoms + Jumpsuits',
              url: '/collections/bottoms'
            },
            {
              name: 'Sweaters + Outerwear',
              url: '/collections/sweaters'
            },
            {
              name: 'Swim',
              url: '/collections/swim'
            },
            {
              name: 'Scarves',
              url: '/collections/scarves'
            },
            {
              name: 'Sale',
              url: '/collections/sale'
            },
          ]
        },
        {
          name: 'Journal',
          url: '/blogs/journal'
        },
        {
          name: 'About',
          url: '/about',
        }
      ]
    }
  }
};
</script>