<template>
  <div
    id="app"
    :class="{ 'js-drawer-open': drawerOpen, 'js-drawer-open-left': drawerLeftOpen, 'js-drawer-open-right': drawerRightOpen, 'search-open': searchOpen }"
  >
    <Logo/>
    <NavDrawer/>
    <CartDrawer/>
    <SiteHeader/>
    <div id="PageContainer" class="is-moved-by-drawer">
      <main class="wrapper main-content" role="main">
        <router-view/>
      </main>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import CartDrawer from "@/components/CartDrawer.vue";
import NavDrawer from "@/components/NavDrawer.vue";
import Logo from "@/components/Logo.vue";
import SiteHeader from "@/components/SiteHeader.vue";

export default {
  name: "app",
  components: {
    CartDrawer,
    NavDrawer,
    Logo,
    SiteHeader
  },
  computed: {
    ...mapGetters("ui", [
      "drawerOpen",
      "drawerLeftOpen",
      "drawerRightOpen",
      "searchOpen"
    ])
  }
};
</script>

<style>
@import "./assets/css/main.scss";
</style>
